<div id="waxing-<%= waxing.id %>" class="token" href="#" onclick="return false;">
	<span class="x" onclick="<%=	remote_function(	:url=>account_waxing_url(@account, waxing), 
														:method=>:delete, 
														:confirm=>"Are you sure you want to detach this image from this article?\n\nAny caption saved with this article will be lost, though you'll still be able to find the image in your archive.",
														:failure=>"trigger_flash('<p>Media could not be deleted</p>');" )
							 %>; return false;" onmouseover="this.className='x_hover'" onmouseout="this.className='x'">&nbsp;</span>
	  
	 <% if waxing.mediafile.is_a? Image%>	
		<%= link_to_remote image_tag(waxing.mediafile.file.url(:system_thumb), :align=>"right"), :url=>edit_account_mediafile_url(@account, waxing.mediafile, :format=>:js), :method=>:get %>
	 <% elsif waxing.mediafile.is_a? Audiofile %>	
		<div style="width:210px;background-color:#FFF;border: 1px solid #AAA;padding:3px;margin-bottom:3px;overflow:hidden;">
			<p><%= link_to_remote "<strong>#{waxing.mediafile.file_file_name}</strong>", :url=>edit_account_mediafile_url(@account, waxing.mediafile, :format=>:js), :method=>:get, :html=>{:style=>"cursor:pointer;"} %></p>
			<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="204" height="37" id="audiofile_<%= waxing.mediafile.id %>_player" align="" class="clearfix">
			 <param name=movie value="/niftyplayer.swf?file=<%= waxing.mediafile.file.url %>&as=0">
			 <param name="quality" value="high">
			 <param name="bgcolor" value="#FFFFFF">
			 <embed src="/niftyplayer.swf?file=<%= waxing.mediafile.file.url %>&as=0" quality="high" bgcolor="#FFFFFF" width="204" height="37" name="audiofile_<%= waxing.mediafile.id %>_player" align="left" type="application/x-shockwave-flash" swLiveConnect="true" pluginspage="http://www.macromedia.com/go/getflashplayer">
			</embed>
			</object>
		</div>
	 <% else %>	
		<div class="file" style="background-color:#FFF;border: 1px solid #AAA;overflow:hidden;">
			<%= link_to_remote image_tag("/file.png", :align=>"left", :style=>"border:none;"), :url=>edit_account_mediafile_url(@account, waxing.mediafile, :format=>:js), :method=>:get %><p style="margin-left:3em;"><strong><%= waxing.mediafile.file_content_type %></strong><br /><%= waxing.mediafile.file_file_name %></p>
		</div>
	<% end %>

	<div id="waxing-form-<%= waxing.id %>">
		  <p><strong>Caption:</strong></p>
		  <p><%= link_to_remote ((waxing.caption.nil? || waxing.caption.strip =="" ) ? "[Click here to add a caption]" : waxing.caption), :url=>edit_account_waxing_url(@account, waxing), :method=>:get %></p>
	</div>
</div>