<h1>New waxing</h1>

<% form_for([@account, @article, @waxing]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :mediafile_id %><br />
    <%= f.text_field :mediafile_id %>
  </p>
  <p>
    <%= f.label :article_id %><br />
    <%= f.text_field :article_id %>
  </p>
  <p>
    <%= f.label :account_id %><br />
    <%= f.text_field :account_id %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>