<div id="attach_archive_media" class="clearfix">
	<h1>Attach media </h1>

	<div class="search">
		<% form_remote_tag :url=>mediafiles_url, :method => :get do %>
			<input type="text" id="mediafiles_search" name="search" class="text_input user" onclick="if(this.value=='Search media') clearText(this);" value="<%=h( @search_query || "Search media") %>" />
			<%= button_link_to_submit "Go" %>
		<% end %>
	</div>

<% form_remote_tag :url=>document_waxings_url(@document), :after=>"page_overlay.end();", :success=>"trigger_flash('<p>Media attached</p>');", :method => :post do %>
	<%= button_link_to_submit "Attach selected", :class=>"save large" %>
	<%= render :partial=>'mediafiles/ajax_pagination' %>
	<ol id="attach_mediafiles_list" class="mediafiles small selectable">
			<% if @mediafiles.length > 0 %>
				<%= render :partial => '/mediafiles/mediafile', :collection => @mediafiles %>
			<% elsif @search_query %>
				<p style="border-top: 1px dotted #515151; margin: 0; padding: 1em 0.5em; font-size: 1.2em;color: #515151;" class="user"><em>No media matching <strong>&ldquo;<%= @search_query %>&rdquo;</strong> found.</em></p>
			<% else %>
				<p style="border-top: 1px dotted #515151; margin: 0; padding: 1em 0.5em; font-size: 1.2em;color: #515151;" class="user"><em>No media found.</em></p>
			<% end %>
	</ol>
<br />
<% end %>
</div><!-- #attach_archive_media -->