<p>
  <b>Attachment:</b>
  <%=h @waxing.attachment_id %>
</p>

<p>
  <b>Article:</b>
  <%=h @waxing.article_id %>
</p>

<p>
  <b>Account:</b>
  <%=h @waxing.account_id %>
</p>


<%= link_to 'Edit', edit_waxing_path(@waxing) %> |
<%= link_to 'Back', waxings_path %>
