<li id="blog_<%= blog.id %>" class="<%= cycle('odd','even') %>">
	<div class="left">
		<h2><%= link_to blog.title, account_blog_path(@account, blog) %><% unless blog.active? %> <small>(Offline)</small><% end %></h2>
		<% if blog.image_file_name %><%= image_tag blog.image.url(:thumb), :style => "border: 1px solid #AAA;margin-bottom: 10px;" %><% end %>
		<div class="details">
			<p class="description"><%= blog.description %></p>
			<p class="contributors"><strong>Contributors:</strong> <%= blog.contributors_list %></p>
			<% if blog.entries.blank? %>
				<p><strong>No published entries for this blog</strong></p>
			<% else %>
				<p><strong>Updated:</strong> <%= time_ago_in_words(blog.updated_at) %> ago</p>
			<% end %>
		</div>
	</div>
	<div class="right">
		<h5 style="margin-bottom:5px;">Recent entries</h5>
		<ol id ="blog_<%= blog.id %>_entries" class="documents entries small">
		<% if blog.entries.blank? %>
			<li class="no_entries"><em>No entries in this blog</em></li>
		<% else %>
			<%= render blog.entries.find(:all, :limit => 4,:order => "status, published_at desc") %>
		<% end %>
		</ol>
		<% if blog.entries.count > 4 %>
			<p style="text-align:right; margin-bottom:0;"><%= link_to "View more &raquo", account_blog_path(@account, blog) %></p>
		<% end %>
	</div>
</li>