<div id="blogs" class="index">
	<div class="title_bar clearfix">
		<div class="actions">
			<h1>Blogs</h1>
			<%= button_link_to 'Start a new blog', new_account_blog_path(@account) %>
		</div>
		<!--
			<div class="search">
			<form method="GET">
				<input type="text" id="articles_search" name="search" class="text_input user" onclick="if(this.value=='Search articles') clearText(this);" value="<%=h( @search_query || "Search articles") %>" />
				<%= button_link_to_submit "Go" %>
			</form>
			<%= # Disable ajax search for now
				# observe_field :articles_search, :url => account_articles_url(@account), :with => "search", :frequency=>0.5, :method=>:get, :after =>"$('articles_list').select('li').invoke('addClassName', 'transparent');" 
				%>
			</div>
		-->
	</div>
	
	<ol>
		<%= render @blogs %>
	</ol>
</div>