<div id="blog" class="clearfix form">
	<div class="column_holder full_column">
		<div class="third_column">
			<h1><%= @blog.new_record? ? "New blog" : "Manage blog" %></h1>
		</div>
		<div class="two_thirds_column left_column">
			<%= button_link_to "Edit", edit_account_blog_url(@account, @blog) %>
		</div>
		<fieldset>
			<legend>Blog details</legend>
			<div class="tenth_column left_column">
				<%= label_tag :title %>
			</div>
			<div class="nine_tenths_column right_column">
				<p class="title user"><%= @blog.title %></p>
			</div>
			<div class="tenth_column left_column">
				<%= label_tag :description, "Description" %>
			</div>
			<div class="nine_tenths_column right_column">
				<p class="description user"><%= @blog.description %></p>
			</div>
		</fieldset>
	</div>
</div>
<div class="column_holder full_column">
	<div class="two_thirds_column">
		<div id="entries" class="index clearfix">
			<h2>Entries</h2> <%= button_link_to "New entry", new_account_blog_entry_url(@account, @blog), :class=>"small" %>
			<div id="top_pagination" class="clearfix"><%= render :partial=>'pagination' %></div>
			<ol class="clearfix">
				<% if @blog.entries.size > 0 -%>
					<%= render @blog.entries %>
				<% else -%>
				<li>
					<div class="entry">
						<h1><small><em>No entries in this blog, yet</em></small></h1>
					</div>
				</li>
				<% end -%>
			</ol>
		</div>
	</div>
	<div class="third_column">
		<%= render :partial => 'blog_users' %>
	</div>
</div>