
<div class="grid_4 alpha suffix_8">
		<h1 style="float:left; margin-right: 15px;"><%= @blog.title %></h1> <%= link_to 'New entry', new_blog_entry_path(@blog), :class => "link green", :style => "float:left;margin-top:10px;" %>
		
		<% if @blog.image_file_name %><%= image_tag @blog.image.url(:thumb), :style => "border: 1px solid #AAA;" %><% end %>
</div>
<div class="prefix_4 grid_8 omega" style="padding-top:7px;" >
	<% if permit? "admin or manager of account" %><%= link_to 'Delete blog', edit_blog_path(@blog), :class => "link red", :style => "float:right;clear:right;margin-left:10px;", 'data-confirm' => "Are you REALLY sure you want to delete this blog?\n\nAll data will be lost and cannot be recovered.\n\nPress 'OK' to delete this blog or 'Cancel' to return." %> <% end %>
	<% if permit? "admin or (manager of account) or (editor of blog)" %><%= link_to 'Edit blog info', edit_blog_path(@blog), :class => "link blue", :style => "float:right;" %><% end %>
	<div style="float:right;clear:right;padding:15px 0; line-height: 1.3; text-align: right;">
		<strong>Contributors:</strong>
		<%= @blog.contributors_list %>
	 	<% if permit? "admin or (manager of account) or (editor of blog)" %><%= link_to 'Manage contributors', manage_contributors_blog_path(@blog), :class => "link yellow", :style => "margin-left:10px;" %><% end %>
	</div>
</div>
<% unless @blog.description.blank? %><p class="grid_12 alpha"><%= @blog.description %></p><% end %>
<div class="select_all_wrap clearfix">
	<input id="select_all_head" type="checkbox" class="select_all"/> <label for="select_all_head">&nbsp;Select all</label>
</div>
<% form_tag edit_multiple_entries_url, :method => :get, :id => "edit_articles_form" do %>
	<%= hidden_field_tag "update_action_name", '', :id=>"action_name" %>
	
	<div id="actions" class="clearfix">
		<%= button_link_to "Publish", "#", :onclick => "$('#action_name').val('publish');$('#edit_articles_form').submit();return false;", :class => "pill-l" %>
		<%= button_link_to "Schedule", "#", :onclick => "$('#action_name').val('schedule');$('#edit_articles_form').submit();return false;", :class => "pill-c" %>
		<%= button_link_to "Delete", "#", :onclick => "$('#action_name').val('delete');$('#edit_articles_form').submit();return false;", :class => "pill-r" %>
		
		<div class="batch_actions">
			<%= button_link_to_function "More actions", "$(this).next().toggle()" %>
			<div class="drop_down_menu" style="border: 1px solid #DEDEDE; background-color: white; position: absolute; top: 1.75em; display:none;">
				<%= submit_tag "Unpublish", :onclick => "$('#action_name').val('unpublish');return true;", :class => "menubutton" %>
				<%= submit_tag "Add to category", :onclick => "$('#action_name').val('add_category');return true;", :class => "menubutton" %>																				
			</div> 
		</div>
	</div>
	
	<%= will_paginate(@entries, :inner_window => 2, :outer_window => 1) %>

	<ol id ="blog_<%= @blog.id %>_entries" class="documents entries selectable">
		<% if @entries.empty? %>
			<li><p style="padding: 15px 0 5px 15px;font-style:italic;">No entries yet.</p>
		<% else %>
			<%= render @entries %>
		<% end %>
	</ol>
	
	<div class="select_all_wrap clearfix">
		<input id="select_all_head" type="checkbox" class="select_all"/> <label for="select_all_head">&nbsp;Select all</label>
	</div>
<% end %>