<div id="blog" class="form">
	<div class="column_holder half_column">
		<div class="third_column">
			<h1><%= @blog.new_record? ? "New blog" : "Manage blog" %></h1>
		</div>
		<div class="two_thirds_column left_column">
			<%= button_link_to "Edit", edit_account_blog_url(@account, @blog) %>
		</div>
		<fieldset>
			<legend>Blog details</legend>
			<div class="quarter_column left_column">
				<%= label_tag :title %>
			</div>
			<div class="three_quarters_column right_column">
				<p class="title user"><%= @blog.title %></p>
			</div>
			<div class="quarter_column left_column">
				<%= label_tag :description, "Description" %>
			</div>
			<div class="three_quarters_column right_column">
				<p class="description user"><%= @blog.description %></p>
			</div>
		</fieldset>
	</div>
</div>

<%= render :partial => 'blog_users' %>