<div style="width:210px;background-color:#FFF;border: 1px solid #AAA;padding:3px;margin-bottom:3px;overflow:hidden;">
	<p><%= link_to_remote "<strong>#{audiofile.file_file_name}</strong>", :url=>edit_account_mediafile_url(@account, audiofile, :format=>:js), :method=>:get, :html=>{:style=>"cursor:pointer;"} %></p>
	<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="204" height="37" id="audiofile_<%= audiofile.id %>_player" align="" class="clearfix">
	 <param name=movie value="/niftyplayer.swf?file=<%= audiofile.file.url %>&as=0">
	 <param name="quality" value="high">
	 <param name="bgcolor" value="#FFFFFF">
	 <embed src="/niftyplayer.swf?file=<%= audiofile.file.url %>&as=0" quality="high" bgcolor="#FFFFFF" width="204" height="37" name="audiofile_<%= audiofile.id %>_player" align="left" type="application/x-shockwave-flash" swLiveConnect="true" pluginspage="http://www.macromedia.com/go/getflashplayer">
	</embed>
	</object>
</div>