<li id="comment_<%= comment.id %>" class="<%= cycle('odd-row', 'even-row') %>">
	<div class="details">
		<p><strong><%= comment.name %></strong></p>
		<p><%= comment.email %></p>
		<p style="font-weight: 200;"><%= comment.ip_address %></p>
		<div class="delete">
			<%= link_to "Delete", comment, :class => "link red small", 'data-remote' => "true", 'data-method' => "delete", 'data-confirm' => "Are you sure you want to delete this comment?" %>
		</div>
		<p style="width:100%;"><span style="color:blue;"><%= comment.created_at.to_s(:standard) %></span> <small><%= pluralize(comment.word_count, "word") %></small></p>
		<div class="target">
			<hr>
			<small><strong>Source:</strong></small> <br />
			<% if comment.document.is_a? Entry %>
				<%= link_to comment.document.title, blog_entry_path(comment.document.blog, comment.document)  %> – <%= link_to comment.document.blog.title, blog_path(comment.document.blog), :style => "text-decoration: underline;" %>
			<% else %>
				<%= link_to comment.document.title, article_path(comment.document)  %>
			<% end %>
		</div>
	</div>
	
	<div class="comment">
		<div class="body">
			<%= RDiscount.new(comment.body).to_html %>
		</div>
	</div>
	

</li>