<li <% if entry.draft?%>class="draft"<% elsif entry.scheduled? %>class="scheduled"<% end %>>
	<div class="clearfix">
		<div class="select">
			<input type="checkbox" value="<%= entry.id %>" name="entry_ids[]"/>
		</div>
	
		<div class="details">
			<h1>&ldquo;<%= link_to entry.title, document_url_for_user(entry, current_user)  %>&rdquo; <small><%= publication_status_for(entry) %></small></h1>
			<div class="mediafiles">
				<% if mediafile = entry.mediafiles.first %>				
					<% if mediafile.is_a?(Image) %>
						<a class="image_icon first large" href="<%= mediafile.file.url(:large) %>"><%= image_tag(mediafile.file.url(:thumb)) %></a>
						<a class="image_icon first small" href="<%= mediafile.file.url(:large) %>"><%= image_tag(mediafile.file.url(:system_icon)) %></a>
					<% elsif mediafile.is_a?(Audiofile) %>
						<object type="application/x-shockwave-flash" data="/player_mp3.swf" width="27" height="22">
		                    <param name="movie" value="/player_mp3.swf" />
		                    <param name="FlashVars" value="mp3=<%= mediafile.file.url %>&amp;showslider=0&amp;width=27&height=22" />
		                </object>    
					<% end %>
				<% end %>
				<% if entry.mediafiles.count > 1 %>
					<% entry.mediafiles[1..-1].each do |mediafile| %>
						<% if mediafile.is_a?(Image) %>
							<a class="image_icon" href="<%= mediafile.file.url(:large) %>"><%= image_tag(mediafile.file.url(:system_icon)) %></a>
						<% elsif mediafile.is_a?(Audiofile) %>
							<object type="application/x-shockwave-flash" data="/player_mp3.swf" width="27" height="22">
			                    <param name="movie" value="/player_mp3.swf" />
			                    <param name="FlashVars" value="mp3=<%= mediafile.file.url %>&amp;showslider=0&amp;width=27&height=22" />
			                </object>    
						<% end %>
					<% end %>
				<% end %>
			</div>
			<p><%= entry.authors_list %></p>
		</div>
	
		<div class="tags">
			<% unless entry.tag_list.blank? %>
				<p><em> <%= entry.tag_list %></em></p>
			<% else %>
				<p><em><span style="color: #BBB">No tags</span> </em></p>
			<% end %>
		</div>
	
		<div class="date">
			<p><%= h entry.date.to_s(:standard) %></p>
			<p class="word_count"><%= pluralize(entry.word_count, "word") %></p>
		</div>
		<%= link_to "x", [entry.account, entry.blog, entry], :confirm => "You are about to delete the entry: \n \n &quot;" + h(entry.title) + "&quot;\n \n Click 'OK' to delete or 'Cancel' to return to the page.", :method => :delete, :class=>"destroy_link" %>
	</div>
</li>