
<div id="issue_form">
<% form_for([@account, @issue]) do |f| %>
  <%= f.error_messages %>
    	<%= f.label :date %>
    	<%= f.date_select :date %>
		<%= f.label :description, "Special issue name" %>
	  	<%= f.text_field :description %>
  <% unless @issue.description.blank? %>
	<script type="text/javascript" charset="utf-8">
		$('issue_form_name_fields').toggle();
	</script>
  <% end %>
     <%= button_link_to_submit (@issue.new_record? ? "Create" : "Update"), :class => "save" %>
<% end %>
</div><!-- /issue_form -->