<div id="issue">
	<h1>New issue</h1>
	<div id="issue_form">
		<% form_for([@account, @issue]) do |f| %>
  		<%= f.error_messages %>
    	<%= f.label :date %>
    	<%= f.unobtrusive_date_text_picker :date, {:format => "M-D-Y"}, :size => "10" %>
		<%= f.label :description, "Special issue name" %>
	  	<%= f.text_field :description %>
     	<%= button_link_to_submit (@issue.new_record? ? "Create" : "Update"), :class => "save" %>
	</div>
<% end %>
</div><!-- /issue_form -->