<div id="page_container">
<div id="article_form">
	<% form_for([@account, @article]) do |f| %>
	  <%= f.error_messages %>

	  <p>
	    <%= f.label :title, "Headline"%><br />
	    <%= f.text_field :title , :class => :text_input%>
	  </p>
	  <p>
	    <%= f.label :subtitle, "Subhead"%><br />
	    <%= f.text_field :subtitle, :class => :text_input  %>
	  </p>
	  <div id="column_holder">
	  	  <p class="half_column">
		    <%= f.label :date %>&nbsp;<%= f.date_select :date %>
		  </p>
		  <p class="half_column">
			<%= f.label "Primary section"%>&nbsp;<%= collection_select(:article, :section_id, @account.sections, :id, :name, {:include_blank=>true})%>
		  </p>
	  </div>
	  <p>
		<!-- Markdown Rich-text Input field - The functionality of this field is loaded by wmd.js later in this document -->
	    <%= f.label :bodytext, "Body text" %><br />
	    <%= f.text_area :bodytext %>
	  </p>
	  <p>Rendered HTML preview<br />
		<!-- Rendered preview window - Nested divs below hold the WMD (wmd-editor.com) preview "window" -->
	  	<div id="article_bodytext_preview">
			<div class="wmd-preview preview"></div>
		  </div>
	  </p>
	  <p>
	    <%= f.label :summary %><br />
	    <%= f.text_area :summary %>
	  </p>
	  <div id="article_form_hidden_elements">
	  	<% if @article.new_record? %>
			<%= hidden_field_tag 'article[tags_list]' %>
		<% else %>
			<%= f.hidden_field :tag_list %>
		<% end %>
	
		<% f.fields_for :sortings do |sorting| %>
			<%= sorting.hidden_field '_delete' %>
		<%end%>

	  </div>
	<% end %>
</div><!-- /article_form -->
	<div id="sidebar">
		<div id="tools">
			<div class="toolbox">
				<div class="toolbox_border"></div>
				<div class="toolbox_label_body"><h2>Article tools</h2></div>
				<div class="toolbox_border"></div>
				<div class="toolbox_body">	
					<p>
						Use these tools to save this article.
					</p>
					<p>
		    	  	<%= button_link_to_function("Save", "$('edit_article_#{@article.id}').submit();") %>
		  			</p>
				</div>
				<div class="toolbox_border"></div>
			</div><!-- /toolbox - article tools -->
			
			<div class="toolbox">
				<div class="toolbox_border"></div>
				<div class="toolbox_label_body"><h2>Categories</h2></div>
				<div class="toolbox_border"></div>
				<div class="toolbox_body">	
						<script id="account_article_sorting_list" type="text/javascript" src="<%= account_article_sortings_url(@account, @article, :format=>:js) %>" charset="utf-8"></script>
				</div>
				<div class="toolbox_border"></div>
			</div><!-- /toolbox - categories -->
			
			<div class="toolbox">
				<div class="toolbox_border"></div>
				<div class="toolbox_label_body"><h2>Tags</h2></div>
				<div class="toolbox_border"></div>
				<div class="toolbox_body">	
					<script id="tags_form" src="<%= new_account_article_tag_url(@account, @article, :format=>:js) %>"></script>
				</div>
				<div class="toolbox_border"></div>
			</div><!-- /toolbox - tags -->
		<!-- 
			
		-->
		</div><!-- /tools -->
	</div><!-- /siderbar -->
</div><!-- /page_container -->

<!-- WMD Editor Configuration script-->
<script type="text/javascript">
    // Set this *before* you load wmd.js
    wmd_options = {
					output: "Markdown",
					lineLength: 40,
					buttons: "bold italic heading | link blockquote image | ol ul hr ",
					autostart: true 
				  };
</script>
<%= javascript_include_tag 'wmd/wmd.js' %>
