<p id="article_form_top_links">	
	<%= link_to "&#171; Back to articles list", account_articles_url(@account), :class=>"weblink" %>
</p>	
<div id="article_form">
	<h1>Edit article</h1>
	<%= "<p style=\"color: green\">#{ flash[:notice] }</p>" if flash[:notice] %>
	<% remote_form_for([@account, @article]) do |f| %>
	  <%= f.error_messages %>
	  <div>
	    <%= f.label :title, "Headline"%><br />
	    <%= f.text_field :title , :class => "text_input user" %>
	  </div>
	  <p>
	    <%= f.label :subtitle, "Subhead"%><br />
	    <%= f.text_field :subtitle, :class => "text_input user"  %>
	  </p>
	  <div class="column_holder clearfix">
	  	  <p class="half_column">
		    <%= f.label :date %>&nbsp;<%= f.unobtrusive_date_text_picker :date, {:format => "M-D-Y"}, :class => "text_input", :size => "10" %>
		  </p>
		  <p class="half_column">
			<%= f.label :section_id, "Primary section"%>&nbsp;<%= collection_select(:article, :section_id, @account.sections, :id, :name, {:include_blank => "None" },  :class => :text_input)%>
		  </p>
	  </div>
	  <div id ="author_list" class="field">
			<%= render :partial => 'article_author_form' %>
	  </div><!-- /author_list -->
	
	  <div id="bodytext">
		<!-- Markdown Rich-text Input field - The functionality of this field is loaded by wmd.js later in this document -->
	    <%= f.label :bodytext, "Body text" %><br />
	    <%= f.text_area :bodytext %>
	  </div>
	  <p>
	    <%= f.label :summary %><br />
	    <%= f.text_area :summary %>
	  </p>
	  <div id="article_form_hidden_elements" class="hidden">	  	
		<% f.fields_for :sortings do |sorting| %>
			<%= sorting.hidden_field '_delete' %>
		<%end%>
	  </div>
	  <div id="category_form_hidden_elements" class="hidden"></div>
	  <div id="authorship_form_hidden_elements" class="hidden"></div>
	<% end %>
</div><!-- /article_form -->
		<div id="tools">
			<div class="toolbox">
				<div class="toolbox_border"></div>
				<div class="toolbox_label_body"><h2><span>&nbsp;&nbsp;&nbsp;&nbsp;</span>Article tools</h2></div>
				<div class="toolbox_border"></div>
				<div class="toolbox_body">	
					<p>
						Last saved<br />
						<% if @article.created_at == @article.updated_at %>
						<span id="last_saved" class="red">Never</span>
						<% else %>
						<span id="last_saved" class="green"><%= time_ago_in_words(@article.updated_at) %> ago</span>
						<% end %>
					</p>
		    	  	<%= button_link_to_function("Save", "$('edit_article_#{@article.id}').onsubmit();", :class=>"large save") -%>
				</div>
				<div class="toolbox_border"></div>
			</div><!-- /toolbox - article tools -->
			
			<div class="toolbox">
				<div class="toolbox_border"></div>
				<div class="toolbox_label_body"><h2><span>&nbsp;&nbsp;&nbsp;&nbsp;</span>Media</h2></div>
				<div class="toolbox_border"></div>
				<div class="toolbox_body">	
					<script id="account_article_mediafiles_list" type="text/javascript" src="<%= account_article_mediafiles_url(@account, @article, :format=>:js) %>" charset="utf-8"></script>
					<iframe name="upload_frame" style="display: none"></iframe>
				</div>
				<div class="toolbox_border"></div>
			</div><!-- /toolbox - media -->	
			
			<div class="toolbox">
				<div class="toolbox_border"></div>
				<div class="toolbox_label_body"><h2><span>&nbsp;&nbsp;&nbsp;&nbsp;</span>Categories</h2></div>
				<div class="toolbox_border"></div>
				<div class="toolbox_body">	
						<script id="account_article_sorting_list" type="text/javascript" src="<%= account_article_sortings_url(@account, @article, :format=>:js) %>" charset="utf-8"></script>
				</div>
				<div class="toolbox_border"></div>
			</div><!-- /toolbox - categories -->

			<div class="toolbox">
				<div class="toolbox_border"></div>
				<div class="toolbox_label_body"><h2><span>&nbsp;&nbsp;&nbsp;&nbsp;</span>Tags</h2></div>
				<div class="toolbox_border"></div>
				<div class="toolbox_body">	
					<script id="article_tags_form" type="text/javascript" src="<%= new_account_article_tag_url(@account, @article, :format=>:js ) %>"></script>
				</div>
				<div class="toolbox_border"></div>
			</div><!-- /toolbox - tags -->		
		</div><!-- /tools -->

<script type="text/javascript">
	//Load toolbox functionality
	$('tools').select('div.toolbox').each( function (t) { new Toolbox(t); });
	Sortable.create('tools',{tag: 'div', handle:'toolbox_label_body'});
	
	//Initialize Overlay
	var article_form_overlay = new Overlay ();
	
	//Shortcut function to reload media list
	reload_media = function() {
		new Ajax.Request('/accounts/<%= @account.id %>/articles/<%= @article.id %>/mediafiles', {method:'get'});
	}
	
 	// WMD Editor Configuration script
    // Set this *before* you load wmd.js
    wmd_options = {
					output: "Markdown",
					lineLength: 40,
					buttons: "bold italic heading | link blockquote image | ol ul hr ",
					autostart: true 
				  };
</script>
<%= javascript_include_tag 'wmd/wmd.js' %>
