<div id="page_container">
<div id="article_form">
	<% form_for([@account, @article]) do |f| %>
	  <%= f.error_messages %>

	  <p>
	    <%= f.label :title, "Headline"%><br />
	    <%= f.text_field :title , :class => :text_input%>
	  </p>
	  <p>
	    <%= f.label :subtitle, "Subhead"%><br />
	    <%= f.text_field :subtitle, :class => :text_input  %>
	  </p>
	  <p>
	    <%= f.label :date %><br />
	    <%= f.date_select :date %>
	  </p>
	  <p>
		<%= f.label "Primary section"%><br />
		<%= collection_select(:article, :section_id, @account.sections, :id, :name, {:include_blank=>true})%>
	  </p>
	  <p>
		<!-- Markdown Rich-text Input field - The functionality of this field is loaded by wmd.js later in this document -->
	    <%= f.label :bodytext, "Body text" %><br />
	    <%= f.text_area :bodytext %>
	  </p>
	  <p>Rendered HTML preview<br />
		<!-- Rendered preview window - Nested divs below hold the WMD (wmd-editor.com) preview "window" -->
	  	<div id="article_bodytext_preview">
			<div class="wmd-preview"></div>
		  </div>
	  </p>
	  <p>
	    <%= f.label :summary %><br />
	    <%= f.text_area :summary %>
	  </p>
	  <p>
	    <%= f.submit @article.new_record? ? "Create" : "Update" %>
	  </p>
	<% end %>
</div><!-- /article_form -->
	<div id="sidebar">
		
		<div id="tools">
			<div id="account_article_sorting_list">
				<script type="text/javascript" charset="utf-8">
					<%= remote_function :url=>account_article_sortings_url(@account, @article, :format=>:js), :method => :get %>
				</script>
			</div>
	
		</div><!-- /tools -->
	</div><!-- /siderbar -->
</div><!-- /page_container -->

<!-- WMD Editor Configuration script-->
<script type="text/javascript">
    // Set this *before* you load wmd.js
    wmd_options = {
					output: "Markdown",
					lineLength: 40,
					buttons: "bold italic heading | link blockquote image | ol ul hr ",
					autostart: true 
				  };
</script>
<%= javascript_include_tag 'wmd/wmd.js' %>
