<div id="account_article_sorting_list">
	<ul>
	<% for section in @account.sections.select{ |parent| parent.parent_id.nil? } %>
		<li id="section-<%= section.id %>" class="parent">
			<label class="selectable">
				<% if @article.sections.member?(section) %>
					<%= check_box_tag "article_section_" + section.id.to_s, section.id.to_s, true %>
				<% else %>
					<%= check_box_tag "article_section_" + section.id.to_s, section.id.to_s, false %>
				<% end %>
				<%= section.name %>
			</label>
		</li>
		<%= render :partial => "child", :collection=>section.children, :locals => {:indent =>"&nbsp;&nbsp;&nbsp;" }%>
	<% end %>
	</ul>
	
</div>