<li <% if article.draft?%>class="draft"<% elsif article.scheduled? %>class="scheduled"<% elsif article.awaiting_attention? %>class="awaiting_attention"<% end %>>
	<div class="clearfix">
		<div class="select">
			<input type="checkbox" value="<%= article.id %>" name="article_ids[]"/>
		</div>
	
		<div class="details">
			<h1>&ldquo;<%= link_to article.title, document_url_for_user(article, current_user)  %>&rdquo; <small><%= publication_status_for(article) %></small></h1>
			<div class="mediafiles">
				<% if mediafile = article.mediafiles.first %>				
					<% if mediafile.is_a?(Image) %>
						<a class="image_icon first large" href="<%= mediafile.file.url(:large) %>"><%= image_tag(mediafile.file.url(:thumb)) %></a>
						<a class="image_icon first small" href="<%= mediafile.file.url(:large) %>"><%= image_tag(mediafile.file.url(:system_icon)) %></a>
					<% elsif mediafile.is_a?(Audiofile) %>
						<object type="application/x-shockwave-flash" data="/player_mp3.swf" width="27" height="22">
		                    <param name="movie" value="/player_mp3.swf" />
		                    <param name="FlashVars" value="mp3=<%= mediafile.file.url %>&amp;showslider=0&amp;width=27&height=22" />
		                </object>    
					<% end %>
				<% end %>
				<% if article.mediafiles.count > 1 %>
					<% article.mediafiles[1..-1].each do |mediafile| %>
						<% if mediafile.is_a?(Image) %>
							<a class="image_icon" href="<%= mediafile.file.url(:large) %>"><%= image_tag(mediafile.file.url(:system_icon), :alt => article.caption_for(mediafile) ) %></a>
						<% elsif mediafile.is_a?(Audiofile) %>
							<object type="application/x-shockwave-flash" data="/player_mp3.swf" width="27" height="22">
			                    <param name="movie" value="/player_mp3.swf" />
			                    <param name="FlashVars" value="mp3=<%= mediafile.file.url %>&amp;showslider=0&amp;width=27&height=22" />
			                </object>    
						<% end %>
					<% end %>
				<% end %>
			</div>
			<p><%= article.authors_list %></p>
		</div>
	
		<div class="section">
			<p> <%= article.section.blank? ? "<span style=\"color: #BBB\">No section</span>" : article.section.name %></p>
		</div>

		<div class="tags">
			<% unless article.tag_list.blank? %>
				<p><em> <%= article.tag_list %></em></p>
			<% else %>
				<p><em><span style="color: #BBB">No tags</span> </em></p>
			<% end %>
		</div>
		
		<div class="date">
			<p><%= h article.date.to_s(:standard) %></p>
			<p class="word_count"><%= pluralize(article.word_count, "word") %></p>
		</div>
		<%= link_to "x", article, :confirm => "You are about to delete the article: \n \n &quot;" + h(article.title) + "&quot;\n \n Click 'OK' to delete or 'Cancel' to return to the page.", :method => :delete, :class=>"destroy_link" %>
	</div>
</li>