<% unless article.created_at == article.updated_at %>
  <li id="article_<%= article.id %>" class="<%= cycle("even-row", "odd-row") %> clearfix">
				
	<div class="status">
		<input type="checkbox" value="<%= article.id %>" name="mediafile_ids[<%= article.id %>]"/>
	</div>
	
	<div class="article clearfix">
		<h1>&ldquo;<%=link_to h(article.display_title.strip), edit_account_article_url(@account, article), :class=>"document_link" %>&rdquo;</h1>
		<div class="article_details clearfix">
			<div class="authors">
				<em><%= article.authors_list if article.authors_list %></em>
			</div>
			<div class="media">
				<% article.mediafiles.each do | i | %>
					<% if i.is_a?(Image) %>
						<%= link_to_remote image_tag(i.file.url(:system_icon), :border=>1), :url=>edit_account_mediafile_url(@account, i, :format=>:js), :method=>:get %>
					<% else %>
						<%= image_tag('/images/blank_file_icon.png', :alt=>i.file_file_name) if i %>
					<% end %>
				<% end %>
			</div> 
		</div>
	</div>

	<div class="section">
		<p> <%= article.section.blank? ? "<span style=\"color: #BBB\">No section</span>" : article.section.name %></p>
	</div>
	
	<div class="tags">
		<% unless article.tag_list.blank? %>
			<p><em> <%= article.tag_list %></em></p>
		<% else %>
			<p><em><span style="color: #BBB">No tags</span> </em></p>
		<% end %>
	</div>

	<div class="icons">
		<%= link_to "&nbsp;&nbsp;&nbsp;", [@account, article], :confirm => "You are about to delete the article: \n \n &quot;" + h(article.display_title) + "&quot;\n \n Click 'OK' to delete or 'Cancel' to return to the page.", :method => :delete, :class=>"delete_link", :style=>"display:none;" %>
	</div>
	
	<div class="date">
		<%= h article.date.to_s(:standard_date_only) %>
		<p><%= article.bodytext.scan(/\w+/).size %> words</p>
	</div>
		
  </li>
<% end %>