<% if @search_results %>
	<div id="articles_page_info" class="page_entries_info">
		<%= page_entries_info @search_results %>
		<%= "and <strong>#{@drafts.length}</strong> #{@drafts.length==1 ? 'draft' : 'drafts'}" if @drafts && @drafts.length >= 1 %>
	</div>
	<%= will_paginate(@search_results, :inner_window => 1, :outer_window => 1) %>
<% else %>
	<div id="articles_page_info" class="page_entries_info">
		<%= page_entries_info @articles %>
		<%= "and <strong>#{@drafts.length}</strong> #{@drafts.length==1 ? 'draft' : 'drafts'}" if @drafts && @drafts.length >= 1 %>
	</div>
	<%= will_paginate(@articles, :inner_window => 1, :outer_window => 1) %>
<% end %>