<div id="printings">
	<div class="box clearfix">
		<h2>Printed in</h2>
		<ul>
			<% @article.printings.each do |p| %>
				<li class="clearfix">
					<% if p.issue.volume && p.issue.number %>
						<h3>Vol. <%= p.issue.volume %>, No. <%= p.issue.number %></h3>
					<% end %>
					<% if p.issue.date %>
						<p class="issue_date"><%= p.issue.date.strftime("%b %e, %Y")%></p>
					<% end %>
						<div class="kill_link"><%= link_to_remote "x", :url=>account_article_printing_url(@account, @article, p), :method => :delete, :after=>"$(this).up().addClassName('transparent');" %></div>
				</li>
			<% end %>
		</ul>
		<%= link_to_function "+ Add an issue", "$(this).next().show();$(this).hide();", :class=>"weblink" %>
		<div id="printing_form" style="display:none;">
			<% remote_form_for [@account, @article, @account.printings.build ], :after=>"$(this).up().select('.spinner')[0].show();" do |f| %>
				<%= f.select(:issue_id, (@account.issues - @article.issues).collect{|i| [ i.date.to_s(:long), i.id ] }) %>
				<%= button_link_to_submit "Add", :class=>"tiny" %> <img src="/loading_small_white.gif" style="display:inline;position:relative;top: 0.3em;display:none;" class="spinner"/>
			<% end %>
		</div>
	</div>
</div>