<div id="articles" class="index">
<div class="title_bar clearfix">
	<div class="actions">
		<h1>Articles</h1>
		<%= button_link_to 'New article', new_account_article_path(@account) %>
	</div>
	<div class="search">
		<form method="GET">
			<input type="text" id="articles_search" name="search" class="text_input user" onclick="if(this.value=='Search articles') clearText(this);" value="<%=h( @search_query || "Search articles") %>" />
			<%= button_link_to_submit "Go" %>
		</form>
		<%= observe_field :articles_search, :url => account_articles_url(@account), :with => "search", :frequency=>0.5, :method=>:get, :after =>"$('articles_list').select('li').invoke('addClassName', 'transparent');" %>
	</div>
</div>

<div class="function_bar clearfix">
	<p class="select_all_wrap"><input id="select_all_head" type="checkbox" class="select_all"/> <label for="select_all_head">&nbsp;Select all</label></p>
	<div class="batch_affect"> </div>
	<div id="top_pagination"><%= render :partial=>'pagination' %></div>
</div>
	<ol id="articles_list">
		<% if @articles.length > 0 %>
			<%= render @articles %>
		<% elsif @search_query %>
			<p style="border-top: 1px dotted #515151; margin: 0; padding: 1em 0.5em; font-size: 1.2em;color: #515151;" class="user"><em>No articles matching <strong>&ldquo;<%= @search_query %>&rdquo;</strong> found.</em></p>
		<% else %>
			<p style="border-top: 1px dotted #515151; margin: 0; padding: 1em 0.5em; font-size: 1.2em;color: #515151;" class="user"><em>No articles found.</em></p>
		<% end %>
	</ol>
<div class="function_bar clearfix">
	<p class="select_all_wrap"><input id="select_all_foot" type="checkbox" class="select_all" /><label for="select_all_foot">&nbsp;Select all</label></p>
	<div id="bottom_pagination"><%= render :partial=>'pagination' %></div>
</div>
<br />

<script type="text/javascript" charset="utf-8">
	//Load each article <li> as a Card and check to see if any checkboxes are pre-checked and need to be pre-selected 
	$('articles').select('ol#articles_list>li').each( function (t) { a = new Card(t); if (a.checkbox.checked) a.select(); });
	
	//Initialize Overlay
	var page_overlay = new Overlay ();
	
	//(for author creation in edit media overlay)
	createNewAuthor = function( new_token_text, auto_complete ){
		new_author_auto_complete = auto_complete;
		new Ajax.Request( 	"<%= account_authors_url(@account, :format=>:json )%>", 
							{	method: 'post', parameters: {"author[name]": new_token_text, "authenticity_token": "<%= form_authenticity_token %>"},
								onSuccess: function(transport){
												var json = transport.responseText.evalJSON(true);
												new_author_auto_complete.addTokenToList( json.author.name, (new_author_auto_complete.options.array.push(json) - 1));
												new_author_auto_complete.set_input_size();
												}
							});
	}
	
	
	// Activate table header checkboxes select_all functionality
	$$('.select_all').each(	function(element) { 
			Event.observe(element, 'click', function( event ) { 
					if (element.checked){ 
						$$('ol#articles_list>li').each(
								function(el){ 
									el.card.select(); 
								}
						); 
						$$('.select_all').each(
							function(el) {
								el.checked = true;
							}
						);						
					} else {
						$$('ol#articles_list>li').each( 	
							function(el){ 
								el.card.deselect(); 
							}
						); 
						$$('.select_all').each(
							function(el) {
								el.checked = null;
							}
						);
					} 
			})
	});
	
</script>

</div><!-- /articles -->