<div id="articles" class="index">
<div class="title_bar"><h1>Articles</h1><%= button_link_to 'New article', new_account_article_path(@account), :class=>"" %></div>

<div class="clearfix">
<p class="select_all_wrap"><input id="select_all_head" type="checkbox" class="select_all"/> <label for="select_all_head">&nbsp;Select all</label></p>
<% paginated_section(@articles, :inner_window => 1, :outer_window => 1) do %>
<p class="page_entries_info"><%= page_entries_info @articles %></p>
</div>
	<ol>
	<% for article in @articles %>
		<% unless article.created_at == article.updated_at %>
		  <li class="<%= cycle("even-row", "odd-row") %> clearfix">
						
			<div class="status">
				<input type="checkbox" value="<%= article.id %>"/>
			</div>
			
			<div class="article clearfix">
				<h1>&ldquo;<%=link_to h(article.display_title.strip), edit_account_article_url(@account, article), :class=>"document_link" %>&rdquo;</h1>
				<div class="article_details clearfix">
					<div class="authors">
						<em><%= article.authors_list if article.authors_list %></em>
					</div>
					<div class="media">
						<% article.mediafiles.each do | i | %>
							<% if i.is_a?(Image) %>
								<%= image_tag(i.file.url(:system_icon), :border=>1) %>
							<% else %>
								<%= image_tag('/images/blank_file_icon.png', :alt=>i.file.original_filename)%>
							<% end %>
						<% end %>
					</div> 
				</div>
			</div>

			<div class="section">
				<p> <%= article.section.blank? ? "<span style=\"color: #BBB\">No section</span>" : article.section.name %></p>
			</div>

			<div class="icons">
				<%= link_to "&nbsp;&nbsp;&nbsp;", [@account, article], :confirm => "You are about to delete the article: \n \n &quot;" + h(article.display_title) + "&quot;\n \n Click 'OK' to delete or 'Cancel' to return to the page.", :method => :delete, :class=>"delete_link", :style=>"display:none;" %>
			</div>
			
			<div class="date">
				<%= h article.date.to_s(:standard_date_only) %>
				<p><%= article.bodytext.scan(/\w+/).size %> words</p>
			</div>
				
		  </li>
		<% end %>
	<% end %>
	</ol>
<% end %>
<p class="select_all_wrap"><input id="select_all_foot" type="checkbox" class="select_all" /><label for="select_all_foot">&nbsp;Select all</label></p>

<br />

<script type="text/javascript" charset="utf-8">
	//Load each article <li> as a Card and check to see if any checkboxes are pre-checked and need to be pre-selected 
	$('articles').select('ol>li').each( function (t) { a = new Card(t); if (a.checkbox.checked) a.select(); });
	
	// Activate table header checkboxes select_all functionality
	$$('.select_all').each(	function(element) { 
			Event.observe(element, 'click', function( event ) { 
					if (element.checked){ 
						$$('ol>li').each(
								function(el){ 
									el.card.select(); 
								}
						); 
						$$('.select_all').checked = true;
					} else {
						$$('ol>li').each( 	
							function(el){ 
								el.card.deselect(); 
							}
						); 
						$$('.select_all').checked = null; 
					} 
			})
	});
	
</script>

</div><!-- /articles -->