<div id="articles" class="clearfix">
	<h1>Articles</h1>
	<%= button_link_to 'New article', new_article_path, :class=>"primary" %>
	<div class="search">
		<form action="/admin/articles/search" method="GET">
			<input type="text" id="articles_search" name="q" class="text_input user" onfocus="if($(this).val()=='Search articles') $(this).val('');" onblur="if($(this).val()=='') $(this).val('Search articles');" value="<%=h( @search_query || "Search articles") %>" />
			<%= button_link_to_submit "Go" %>
		</form>
	</div>
	<div class="select_all_wrap clearfix">
		<input id="select_all_head" type="checkbox" class="select_all"/> <label for="select_all_head">&nbsp;Select all</label>
	</div>
	
	<% form_tag edit_multiple_articles_url, :method => :get, :id => "edit_articles_form" do %>
		<%= hidden_field_tag "update_action_name", '', :id=>"action_name" %>
	
		<div id="actions" class="clearfix">
			<%= button_link_to "Publish", "#", :onclick => "$('#action_name').val('publish'); $('#edit_articles_form').submit();return false;", :class => "pill-l" %>
			<%= button_link_to "Schedule", "#", :onclick => "$('#action_name').val('schedule');$('#edit_articles_form').submit();return false;", :class => "pill-c" %>
			<%= button_link_to "Delete", "#", :onclick => "$('#action_name').val('delete');$('#edit_articles_form').submit();return false;", :class => "pill-r" %>
			
			<div class="batch_actions">
				<%= button_link_to_function "More actions", "$(this).next().toggle()" %>
				<div class="drop_down_menu" style="border: 1px solid #DEDEDE; background-color: white; position: absolute; top: 1.75em; display:none;">
					<%= submit_tag "Unpublish", :onclick => "$('#action_name').val('unpublish');return true;", :class => "menubutton" %>
					<%= submit_tag "Set section", :onclick => "$('#action_name').val('set_section');return true;", :class => "menubutton" %>																				
					<%= submit_tag "Add to category", :onclick => "$('#action_name').val('add_category');return true;", :class => "menubutton" %>																				
					<%= submit_tag "Attach to issue", :onclick => "$('#action_name').val('add_issue');return true;", :class => "menubutton" %>																									
				</div> 
			</div>
		</div>
		<%= render :partial=>'pagination' %>
		<ol id="articles_list" class="documents selectable">			
			<% if (@articles.length > 0) || (@drafts && @drafts.length > 0) %>
				<%= render @awaiting_attention if @awaiting_attention %>
				<%= render @articles %>
			<% else %>
				<p style="border-top: 1px dotted #515151; margin: 0; padding: 1em 0.5em; font-size: 1.2em;color: #515151;" class="user"><em>No articles found.</em></p>
			<% end %>
		</ol>
	<% end %> 
	<p class="select_all_wrap"><input id="select_all_foot" type="checkbox" class="select_all" /><label for="select_all_foot">&nbsp;Select all</label></p>
	<div id="bottom_pagination"><%= render :partial=>'pagination' %></div>
<br />

<script type="text/javascript" charset="utf-8">

</script>

</div><!-- /articles -->