<p><%= link_to("&laquo Back", articles_url )%></p>
<div id="article" class="grid_10"> 	
	<h1><%=h @article.title %></h1>

	<h2><%=h @article.subtitle %></h2>
		
	<div class="details grid_5">
		<% unless @article.images.blank? %>
			<div class="media">
				<h3>Attached media</h3>
				<% if @article.images.length > 1 %>
					<div class="carousel">
		                <ul>
							<% for image in @article.images %>		
		                    	<li>
									<img src="<%= image.file.url(:system_default) %>" alt="" width="<%= image.width_for_style(:system_default) * 0.9 %>" height="<%= image.height_for_style(:system_default) + 0.9 %>">
									<a class="zoom" href="<%= "#mediafile_#{image.id.to_s}_large" %>"><%= image_tag('zoom.png', :style => "border: none;position: absolute; top: 13px; right: 13px;width: 30px;") %></a>
									<p class="caption"><%= @article.caption_for(image)%></p>
									<p class="caption"><small>Uploaded <%= image.created_at.to_s(:standard) %></small></p>					
									<div style="display:none;">
										<div id="mediafile_<%= image.id %>_large" class="network_image_large">
											<%= image_tag(image.file.url(:large)) %>
											<p class="caption"><%= @article.caption_for(image)%></p>
										</div>
									</div>
								</li>
							<% end %>
		                </ul>
		            </div>
					<p>
						<% count = 1 %>
						<% for image in @article.images %>
							<img src="<%= image.file.url(:system_thumb) %>" border="1" class="<%= count %>"/>
							<% count = count + 1 %>
						<% end %>
						<br /><small><em>Click an image to view</em></small>
					</p>
				<% else %>
					<ul>
						<% @article.images.first.tap do |image| %>		
	                    	<li>
								<img src="<%= image.file.url(:system_default) %>" alt="" width="<%= image.width_for_style(:system_default) * 0.9 %>" height="<%= image.height_for_style(:system_default) + 0.9 %>">
								<a class="zoom" href="<%= "#mediafile_#{image.id.to_s}_large" %>"><%= image_tag('zoom.png', :style => "border: none;position: absolute; top: 13px; right: 13px;width: 30px;") %></a>
								<p class="caption"><%= @article.caption_for(image)%></p>
								<p class="caption"><small>Uploaded <%= image.created_at.to_s(:standard) %></small></p>					
								<div style="display:none;">
									<div id="mediafile_<%= image.id %>_large" class="network_image_large">
										<%= image_tag(image.file.url(:large)) %>
										<p class="caption"><%= @article.caption_for(image)%></p>
									</div>
								</div>
							</li>
						<% end %>
	                </ul>
				<% end %>
			</div>
		<% end %>
		
		<div class="categories">
			<% if @article.categories.blank? %>
				<p>Not categorized.</p>
			<% else %>
				<p>Categories:
					<% if @article.categories.count > 1 %> 
						<% @article.categories[1..-2].each	do |category| %>
							<% if category==@article.section %>
								 <strong><%= category.name %></strong>, 
							<% else %>
								 <%= category.name %>,
							<% end %>
						<% end %>
						
						<% if @article.categories.last==@article.section %>
							 <strong><%= @article.categories.name %></strong> 
						<% else %>
							 <%= @article.categories.name %>
						<% end %>
					<% else %>
						<% if @article.categories.first==@article.section %>
							<strong><%= @article.categories.first.name %></strong> 
						<% else %>
							<%= @article.categories.first.name %>
						<% end %>
					<% end %>
				</p>
			<% end %>
		</div>
		
		<div class="tags">
			<% if @article.tag_list.blank? %>
				<p>Not tagged.</p>
			<% else %>
				<p>Tags: <em><%= @article.tag_list %></em></p>
			<% end %>
		</div>
		
	</div>
	
	<% unless @article.authors_list.blank? %><p class="byline">By <%=h @article.authors_list %></p><% end %>
	<p class="date"><%= @article.status=="Published" ? @article.published_at.strftime("%b %e, %Y") : "Last saved " + @article.updated_at.to_formatted_s(:long) %></p>
	
	<%= markdown @article.bodytext %>

</div>

<% content_for(:javascript) do %>
<%= javascript_include_tag 'jcarousellite_1.0.1.js' %>
<script type="text/javascript" charset="utf-8">
	$(function(){
		$(".media  .carousel").jCarouselLite({
			'btnGo': [<%= (1..@article.images.count).collect{ |n| '".media .' + n.to_s + '"' }.join(',') %>]
		});
		
		$('.media a.zoom').fancybox({"titleShow": false});	
	});
</script>
<% end %>
