<div id="article">
	<p id="top_links">	
		<%= link_to "&#171; Back to articles list", account_articles_url(@account), :class=>"weblink" %>
	</p>
 	
	<h1><%=h @article.title %></h1>

	<h2><%=h @article.subtitle %></h2>
	
	<p class="date"><%= @article.status=="Published" ? @article.published_at.to_formatted_s(:long) : "Last saved " + @article.updated_at.to_formatted_s(:long) %></p>
	<p class="byline"><%=h @article.authors_list%></p>
	
	<%= markdown @article.bodytext %>

</div>

