<h1>Editing authorship</h1>

<% form_for(@authorship) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :staff_position %><br />
    <%= f.text_field :staff_position %>
  </p>
  <p>
    <%= f.label :article_id %><br />
    <%= f.text_field :article_id %>
  </p>
  <p>
    <%= f.label :author_id %><br />
    <%= f.text_field :author_id %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @authorship %> |
<%= link_to 'Back', authorships_path %>
