<div id="action">
	<h1>Action</h1>
	<% form_tag account_actions_url(@account) do %>
		<%= hidden_field_tag 'name', @action.name %>
		<%= render :partial=>"actions/forms/#{@action.name}"%>
	
		<% for content_type in @action.content_types %>
			<%= hidden_field_tag 'content_types[]', content_type %>
			<h3><%= content_type %></h3>
			<ul>
				<% for record in @records[content_type] %>
				<li><%= check_box_tag "#{content_type}_ids[]", record.id, true %><%= record.title %></li>
				<% end %>
			</ul>
		<% end %>
	
	<% end %>
</div>