<div class="small_top_button clearfix"><a href="#" class="close_window" onclick="page_overlay.end();return false;"> <img src="/images/window_x.png" /> </a></div>
<div id="action" class="index clearfix">
	<% form_tag account_actions_url(@account) do %>
	
		<%= render :partial=>"actions/forms/#{@action.name}"%>

		<%= hidden_field_tag 'name', @action.name %>
		<%= hidden_field_tag 'blog_id', params[:blog_id] if params[:blog_id] %>
		<% for content_type in @action.content_types %>
			<%= hidden_field_tag 'content_types[]', content_type %>
			<% for record in @records[content_type] %>
				<%= hidden_field_tag "#{content_type}_ids[]", record.id %>
			<% end %>
		<% end %>
	<% end %>
</div>