<div class="column_holder">
	<div class="full_column"><%= button_link_to_submit "Save", :class=>"save large" %></div>
	<div class="quarter_column left_column"><%= form.label :login %></div>
	<div class="three_quarters_column right_column"><%= form.text_field :login, :class=>"text_input" %></div>

	<div class="quarter_column left_column"><%= form.label :email %></div>
	<div class="three_quarters_column right_column"><%= form.text_field :email, :class=>"text_input" %></div>
	<div class="quarter_column left_column"><%= form.label :name %></div>
	<div class="three_quarters_column right_column"><%= form.text_field :name, :class=>"text_input" %></div>
</div>
