<li id="user_<%= user.id %>" class="<%= cycle("even-row", "odd-row") %> clearfix">
	<div class="user clearfix">
		
		<p class="name"><%= user.name %></p>
		<p class="email"><%= user.email %></p>
	
		<% if user.has_role? 'manager', @account %>
			<p>Manager</p>
			<% if permit?("admin") || user==current_user %>
				<%= button_link_to_remote "Demote", :url => demote_user_url(user, :account_id=>@account.id), :update=>"user_#{user.id}", :method => :put, :html =>{ :class=> 'micro'} %>		
			<% end %>
		<% elsif user.has_role? 'editor', @account  %>
			<p>Editor</p>
			<%= button_link_to_remote "Promote", :url => promote_user_url(user, :account_id=>@account.id), :update=>"user_#{user.id}", :method => :put, :html =>{ :class=> 'micro'} %>
			<%= button_link_to_remote "Demote", :url => demote_user_url(user, :account_id=>@account.id), :update=>"user_#{user.id}", :method => :put, :html =>{ :class=> 'micro'} %>
		<% elsif user.has_role? 'staff', @account %>
			<%= button_link_to_remote "Promote", :url => promote_user_url(user, :account_id=>@account.id), :update=>"user_#{user.id}", :method => :put, :html =>{ :class=> 'micro'} %>		
		<% end %>
						
		<% if user.has_role? "admin" %>
			<p class="admin">Administrator</p>
		<% else %>
			<% if permit? "admin" %>
				<%= button_link_to_remote "Deputize", :url => deputize_user_url(user, :account_id=>user.account.id), :update=>"user_#{user.id}", :method => :put, :html =>{ :class=> 'micro', :style=>"color: #ED1B8C;"}, :confirm=>"Are you sure you want to make #{user.name} an account administrator? This can't be undone, once you approve they're also in charge.\n\nPress 'OK' to confirm this prestigious promotion." unless user.has_role? "admin" %>
			<% end %>
		<% end %>
		
		<% if permit?("manager of account or admin")&&user!=current_user&&(!user.has_role?("manager", @account))&&(!user.has_role?("admin"))  %>
			<p class="kill_link">
				<%= link_to_remote "x", :url => letgo_user_url(user, :account_id=>@account.id), :method => :delete, :after=>"$(this).up().up().up().addClassName('transparent');", :success=>"$('user_#{user.id.to_s}').remove();", :confirm=>"Are you sure you want to prevent the user at email:\n\n#{user.email.to_s}\n\nfrom accessing your account? You can give this user access again easily by adding their email. Press OK to remove this user's account access." , :html => { :class=>'kill_link' } %>
			</p>
		<% end %>
	</div>
</li>