<h1>New page</h1>
<% semantic_form_for(@page) do |form| %>
	<% form.inputs :class => "grid_12" do %>
		<%= form.input :name, :label => (form.object.parent_url + "/"), :wrapper_html => { :class => "grid_10" } %>
		<%= form.commit_button :class => "grid_2" %>
		<%= form.input :parent, :collection => page_form_options_collection(@account).collect{ |page| [page.url, page.id] }, :include_blank => "None", :wrapper_html => { :class => "grid_3 alpha"} %>
		<%= form.input :template, :collection => @account.designs.all.collect { |d| d.page_templates }.flatten, :group_by => :design, :include_blank => "No template", :wrapper_html => { :class => "grid_3 alpha"} %>
		<%= form.input :contents %>	
	<% end %>
<% end %>

<%= stylesheet_link_tag 'wmd' %>
<% content_for :javascript do %>
<%= javascript_include_tag 'jquery.wmd' %>
<script type="text/javascript" charset="utf-8">
	$("#page_contents").wmd({'preview':"wmd-preview"}); 
</script>
<% end %>