<div id="account_article_sorting_list">
 	<% unless @account.categories.empty? %>
		<div style="text-align:right;margin:0;padding:0;"><%= button_link_to_function "Edit", "swap($(this.parentNode.parentNode).childElements()[2], $(this.parentNode.parentNode).childElements()[3], this);load_category_edit();$(this).setStyle({opacity: 0.2});$(this).disabled='true'", :class=>"tab-t categories_edit_tab" %></div>
		<div id="categories_list">
			<div id="hidden_categories_buttons" style="display:none"><%= button_link_to_function "Save changes", "$('account_categories_edit_form').onsubmit();", :class=>"small save" %><%= button_link_to_function "Cancel", "new Ajax.Request('#{account_article_sortings_url(@account, @article)}', {method:'get'}); categories_editing=false;$(this).up().up().setStyle({opacity:0.5});", :class=>"small cancel" %></div>
			<ul id="categories_sort" style="">
				<%= render :partial=>"parent", :collection=>@account.categories.select{ |sec| sec.parent_id.nil? } %>
			</ul>
		</div>
		<p class="note"><em>Print sections shown in black.</em></p>
		<div id="categories_controls" class="clearfix" style="display:none;">
			<p class="note">
				<em>Drag categories to reorder.</em>
			</p>
			<p>
			<%= #Be sure to include @article.id in call to Section.new to ensure that the article is available for reloading the article/sorting list
				button_link_to_remote 	"New category?", 
								:url => new_account_category_path(@account, :format=>:js, :article_id=>@article.id), 
								:method => :get, :html=>{:class=>"small"} %>
			</p>
			 <div id="new_account_category" style="display:none;">&nbsp;</div>
		</div>
		<% remote_form_for (@account, :after=>"$(this).up().setStyle({opacity:0.5})", :complete => "new Ajax.Request('#{account_article_sortings_url(@account, @article, :format=>:js)}', {method:'get'});", :html=>{:style=>"display:none;", :id=>"account_categories_edit_form"}) do |f| %>
		<% end %>
	<% else %>
		<p id="new_account_category">
		<%= #Be sure to include @article.id in call to Section.new to ensure that the article is available for reloading the article/sorting list
			button_link_to_remote 	"New category", 
							:url => new_account_category_path(@account, :format=>:js, :article_id=>@article.id), 
							:method => :get, :html=>{:class=>"small", :id=>"new_category_form_button"} %>
		</p>
	<% end %>
</div>