<li id="section-<%= child.id %>" class="parent">
	<label class="selectable">
		<% if @article.categories.member?(child) %>
			<%= indent + check_box_tag("article_section_" + child.id.to_s, child.id.to_s, true) %>
		<% else %>
			<%= indent + check_box_tag("article_section_" + child.id.to_s, child.id.to_s, false) %>
		<% end %>
		<%= child.name %>
	</label>
</li>
<%= render :partial => 'child', :collection => child.children, :locals=>{:indent => indent + "&nbsp;&nbsp;&nbsp;"}%>