<li id="category-<%= child.id %>" 
	class="parent <%= " printsection" if child.is_a?(Section) %>">
		<% checked = @article.categories.member?(child) ? true : false%>
		<% onclick = @article.categories.member?(child) ? "mark_sorting_for_delete(#{@article.sortings.find_by_category_id(child.id).id}, this)" :  "new_article_sorting(#{child.id}, this)"%>
		<%= indent + check_box_tag("article_category_" + child.id.to_s, child.id.to_s, checked, :onclick => onclick) %>
	<label class="selectable">	
		<%= child.name %>
	</label>
</li>
<%= render :partial => 'child', :collection => child.children, :locals=>{:indent => indent + "&nbsp;&nbsp;&nbsp;"}%>