<li id="category_<%= parent.id %>" class="parent<%= " printsection" if parent.is_a?(Section) %>" >
	<% options = {:onclick => (@article.categories.member?(parent) ? "mark_sorting_for_delete(#{@article.sortings.find_by_category_id(parent.id).id}, #{parent.id}, this)" :  "new_article_sorting(#{parent.id}, this)") } -%>
	<% options = options.merge({:disabled => "true"}) if @article.section == parent %>
	<% checked = @article.categories.member?(parent) ? true : false -%>
	<%= check_box_tag"article_category_" + parent.id.to_s, parent.id.to_s, checked, options %>
	<%= label_tag "article_category_#{parent.id.to_s}", parent.name, :class => "selectable"  %>
		<ul>
			<%= render :partial => "child", :collection=>parent.children %>
		</ul>
</li>
