<p>
  <b>Category:</b>
  <%=h @sorting.category.name %>
</p>

<p>
  <b>Article:</b>
  <%=h @sorting.article.title %>
</p>

<p>
  <b>Account:</b>
  <%=h @sorting.account.name%>
</p>


<%= link_to 'Edit', edit_account_article_sorting_path(@account, @article, @sorting) %> |
<%= link_to 'Back', account_article_sortings_path(@account, @article) %>
