<div id="edit_media_form">
		<p class="large">Edit image details</p>
		<% form_for [@account, @article, @mediafile], :html=>{:multipart=>true, :target=>"upload_frame", :onsubmit => "article_form_overlay.end();$('account_article_mediafiles_list').insert('<img class=\"mediafile_loading\" src=\"/loading.gif\" />');"} do |f| %>
	 	<%= f.error_messages %>
	  	<div class="image_matte">
			<%= image_tag(@mediafile.file.url) %>
	  	</div>
		<p><%= label_tag 'mediafile[new_authors_list]', 'Photocredits' %></p>	
		<div id="photocredits_form" class="clearfix tokenizer text_input" onclick="$('mediafile_new_authors_list').focus()">
		    <span class="tokenizer_stretcher">^_^</span>
			<span class="tab_stop">
				<input type="text" id="media_hidden_input" tabindex="-1" />
			</span>
		    <div id="media_autocomplete_display" class="tokenizer_input">
				<%= text_field_tag 'mediafile[new_authors_list]', '' %>
		    </div>
		</div>
		<div id="media_autocomplete_populate" class="clearfix autocomplete typeahead_list" style="z-index: 10; width: 450px; height: auto; overflow-y: hidden;display:none"> </div>
			<script type="text/javascript">
		    var photocredit_list = new Autocompleter.LocalTokenizer('mediafile_new_authors_list', 'media_autocomplete_populate', <%= @account.authors.to_json(:only=>[:name, :id]) %>, {                                                  
			        frequency: 0.1,
					parent_model: "mediafile",
			        search_field: "name",
					search_model: "author",
					search_join_model: "photocredit",
					search_join_models: "photocredits",
					text_field_width: 375,
					token_delimiter: /, and | and |,/,
					saved_token_join_json: <%= @mediafile.photocredits.to_json(:include=>:author, :only=>[:name, :id]) %>,
					hidden_input_id: 'media_hidden_input',
					onNewToken: createNewAuthor
			    });
			</script>
		<p>
	  		<%= button_link_to_submit "Save changes" %>
		</p>
	</div>
<% end %>
</div>
