<li class="<%= cycle("even-row", "odd-row") %> clearfix">

	<div class="status">
		<input type="checkbox" value="<%= mediafile.id %>" name="mediafile_ids[<%= mediafile.id %>]"/>
	</div>
	
	
		<% if mediafile.is_a?(Image) %>
	<div class="media">
			<%= image_tag(mediafile.file.url(:system_thumb)) %>
		<% elsif mediafile.is_a?(Audiofile) %>
	<div class="media blank_file">
			<p><%= mediafile.file_file_name.split(".").last.upcase %></p>
		<% else %>
	<div class="media blank_file">
			<p><%= mediafile.file_file_name.split(".").last.upcase %></p>			
		<% end %>
	</div>
	
	<div class="mediafile">
		<h1><%=link_to h(mediafile.title), edit_account_mediafile_url(@account, mediafile), :class=>"document_link" %></h1>
		<div class="mediafile_details clearfix">
			<div class="authors">
				<em><%= mediafile.authors_list if mediafile.authors_list %></em>
			</div>
		</div>
	</div>
	
	<div class="tags">
		<% unless mediafile.tag_list.blank? %>
			<p><em> <%= mediafile.tag_list %></em></p>
		<% else %>
			<p><em> <span style="color: #BBB">No tags</span> </em></p>
		<% end %>
	</div>
	
	<div class="icons">
		<%= link_to "&nbsp;&nbsp;&nbsp;", [@account, mediafile], :confirm => "You are about to delete the mediafile: \n \n &quot;" + h(mediafile.title) + "&quot;\n \n Click 'OK' to delete or 'Cancel' to return to the page.", :method => :delete, :class=>"delete_link", :style=>"display:none;" %>
	</div>
	
	<div class="date">
		<%= h mediafile.date.to_s(:standard) %>
	</div>
	
</li>