<p><%= link_to("&laquo Back", mediafiles_url )%></p>

<%= stylesheet_link_tag 'wmd' %>
<%= stylesheet_link_tag 'token_input' %>

<% semantic_form_for @mediafile, :url => mediafile_path(@mediafile) do |form| %>	
<div class="toolbox mediafile_file grid_6">
	<h4>Media</h4>
	<% if @mediafile.is_a? Image %>
		<%= render :partial => "image", :object => @mediafile %>
	<% elsif @mediafile.is_a? Audiofile %>
		<%= render :partial => "audiofile", :object => @mediafile %>
	<% else %>
		<%= render :partial => "file", :object => @mediafile %>
	<% end %>
</div>


<% form.buttons :class => "grid_6" do %>
	<li class="grid_4 alpha"><h1>Edit <%= @mediafile.class.name.humanize.downcase %></h1></li>
 	<li class="grid_2 omega" style="float:right;text-align:right;margin-right: -10px;"><%= form.submit "Save" %></li>
<% end %>

<% form.inputs :class => "grid_6", :style => "clear:left;" do %>
	<%= form.input :title, :as => :string %>
	<%= form.input :author_ids, :label => "Authors", :as => :string, :input_html => { :value => "" } %>
	<%= form.input :tag_list, :as => :string %>
	<%= form.input :description, :input_html => { :rows => 20 } %>
<% end %>

<% end %>
<% content_for :javascript do %>
	<%= javascript_include_tag 'jquery.tokeninput' %>
	<%= javascript_include_tag 'jquery.wmd' %>
	<script type="text/javascript">
		$().ready(function() {			
           	$("#image_description, #audiofile_description, #mediafile_description").wmd({"preview":false}); 

			$('#show_image_sizes_link').click(function(event){
				$('.image .sizes').slideToggle('slow', function(){
					if($('#show_image_sizes_link').html()=="Show sizes") {
						$('#show_image_sizes_link').html("Hide sizes")	
					} else {
						$('#show_image_sizes_link').html("Show sizes")	
					}
				});
				event.preventDefault();
			});

			$("#image_author_ids, #audiofile_author_ids, #mediafile_author_ids").tokenInput("<%= authors_path(:format => :json) %>", {
				initialValues: <%= @mediafile.authors_json %>,
				canCreate: true,
				createText: "New author",
				hintText: "Add an author",
		        classes: {
		            tokenList: "token-input-list",
		            token: "token-input-token",
		            tokenDelete: "token-input-delete-token",
		            selectedToken: "token-input-selected-token",
		            highlightedToken: "token-input-highlighted-token",
		            dropdown: "token-input-dropdown",
		            dropdownItem: "token-input-dropdown-item",
		            dropdownItem2: "token-input-dropdown-item2",
		            selectedDropdownItem: "token-input-selected-dropdown-item",
		            inputToken: "token-input-input-token"
		        }
		   });	

		});
	</script>
<% end %>