<p><%= link_to("&laquo Back", mediafiles_url )%></p>

<%= stylesheet_link_tag 'wmd' %>
<%= stylesheet_link_tag 'token_input' %>

<% semantic_form_for @mediafile, :url => mediafile_path(@mediafile) do |form| %>	
<div class="toolbox grid_6">
	<h4>Media</h4>
	<% if @mediafile.is_a? Image %>
		<div class="image">	
			<%= image_tag(@mediafile.file.url(:system_default))%>
		</div>
	<% elsif @mediafile.is_a? Audiofile %>
		<div>
			<object type="application/x-shockwave-flash" data="/player_mp3.swf" style="margin-bottom:10px;" width="245" height="20">
			    <param name="movie" value="/player_mp3.swf" />
			    <param name="bgcolor" value="#ffffff" />
			    <param name="FlashVars" value="mp3=<%= @mediafile.file.url %>&width=245" />
			</object>
			<%= @mediafile.filename %> 
		</div>
	<% else %>
		<div>
			<%= image_tag "blank_file_icon.png", :style => "float:left; border:none; margin-right: 5px; " %> <%= @mediafile.filename %> 
			<span style="font-size: 0.75em;"><%= number_to_human_size(@mediafile.file_size) %></span>
		</div>
	<% end %>
</div>
<% form.buttons :class => "grid_6" do %>
	<li class="grid_4 alpha"><h1>Edit mediafile</h1></li>
 	<li class="grid_2 omega" style="float:right;text-align:right;margin-right: -10px;"><%= form.submit "Save" %></li>
<% end %>

<% form.inputs :class => "grid_6", :style => "clear:left;" do %>
	<%= form.input :title, :as => :string %>
	<%= form.input :author_ids, :label => "Authors", :as => :string, :input_html => { :value => "" } %>
	<%= form.input :tag_list, :as => :string %>
	<%= form.input :description, :input_html => { :rows => 8 } %>
<% end %>

<% end %>
<% content_for :javascript do %>
	<%= javascript_include_tag 'jquery.tokeninput' %>
	<%= javascript_include_tag 'jquery.wmd' %>
	<script type="text/javascript">
		$().ready(function() {			
           	$("#image_description").wmd({"preview":false}); 


			$("#image_author_ids, #audiofile_author_ids, #mediafile_author_ids").tokenInput("<%= authors_path(:format => :json) %>", {
				initialValues: <%= @mediafile.authors_json %>,
				canCreate: true,
				createText: "New author",
				hintText: "Add an author",
		        classes: {
		            tokenList: "token-input-list",
		            token: "token-input-token",
		            tokenDelete: "token-input-delete-token",
		            selectedToken: "token-input-selected-token",
		            highlightedToken: "token-input-highlighted-token",
		            dropdown: "token-input-dropdown",
		            dropdownItem: "token-input-dropdown-item",
		            dropdownItem2: "token-input-dropdown-item2",
		            selectedDropdownItem: "token-input-selected-dropdown-item",
		            inputToken: "token-input-input-token"
		        }
		   });	

		});
	</script>
<% end %>