<h1>Listing attachments</h1>

<table>
  <tr>
    <th>Filename</th>
    <th>File type</th>
    <th>Filesize</th>
    <th>Title</th>
    <th>Description</th>
    <th>Width</th>
    <th>Height</th>
    <th>Length</th>
    <th>Link alternate</th>
    <th>Date</th>
    <th>Account</th>
    <th>Type</th>
  </tr>

<% for attachment in @attachments %>
  <tr>
    <td><%=h attachment.filename %></td>
    <td><%=h attachment.file_type %></td>
    <td><%=h attachment.filesize %></td>
    <td><%=h attachment.title %></td>
    <td><%=h attachment.description %></td>
    <td><%=h attachment.width %></td>
    <td><%=h attachment.height %></td>
    <td><%=h attachment.length %></td>
    <td><%=h attachment.link_alternate %></td>
    <td><%=h attachment.date %></td>
    <td><%=h attachment.account_id %></td>
    <td><%=h attachment.type %></td>
    <td><%= link_to 'Show', attachment %></td>
    <td><%= link_to 'Edit', edit_attachment_path(attachment) %></td>
    <td><%= link_to 'Destroy', attachment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New attachment', new_attachment_path %>
