<div id="mediafiles" class="index">
<div class="title_bar clearfix">
	<div class="actions">	
		<h1>Media </h1>
		<%= button_link_to 'Upload media', new_account_mediafile_path(@account), :class=>"" %>
	</div>
	<div class="search">
		<form method="GET">
			<input type="text" id="mediafiles_search" name="search" class="text_input user" onclick="if(this.value=='Search media') clearText(this);" value="<%=h( @search_query || "Search media") %>" />
			<%= button_link_to_submit "Go" %>
		</form>
		<%= observe_field :mediafiles_search, :url => account_mediafiles_url(@account), :with => "search", :frequency=>0.5, :method=>:get, :after =>"$('mediafiles_list').select('li').invoke('addClassName', 'transparent');" %>
	</div>
</div>

<div class="function_bar clearfix">
	<p class="select_all_wrap"><input id="select_all_head" type="checkbox" class="select_all"/> <label for="select_all_head">&nbsp;Select all</label></p>
	<div id="top_pagination"><%= render :partial=>'pagination' %></div>
</div>
	<ol id="mediafiles_list">
			<% if @mediafiles.length > 0 %>
				<%= render :partial => 'mediafile', :collection => @mediafiles %>
			<% elsif @search_query %>
				<p style="border-top: 1px dotted #515151; margin: 0; padding: 1em 0.5em; font-size: 1.2em;color: #515151;" class="user"><em>No media matching <strong>&ldquo;<%= @search_query %>&rdquo;</strong> found.</em></p>
			<% else %>
				<p style="border-top: 1px dotted #515151; margin: 0; padding: 1em 0.5em; font-size: 1.2em;color: #515151;" class="user"><em>No media found.</em></p>
			<% end %>
	</ol>
<p class="select_all_wrap"><input id="select_all_foot" type="checkbox" class="select_all" /><label for="select_all_foot">&nbsp;Select all</label></p>
<div id="bottom_pagination"><%= render :partial=>'pagination' %></div>
<br />

<script type="text/javascript" charset="utf-8">
	//Load each article <li> as a Card and check to see if any checkboxes are pre-checked and need to be pre-selected 
	$('mediafiles').select('ol#mediafiles_list>li').each( function (t) { a = new Card(t); if (a.checkbox.checked) a.select(); });
	
	// Activate table header checkboxes select_all functionality
	$$('.select_all').each(	function(element) { 
			Event.observe(element, 'click', function( event ) { 
					if (element.checked){ 
						$$('ol#mediafiles_list>li').each(
								function(el){ 
									el.card.select(); 
								}
						); 
						$$('.select_all').each(
							function(el) {
								el.checked = true;
							}
						);						
					} else {
						$$('ol#mediafiles_list>li').each( 	
							function(el){ 
								el.card.deselect(); 
							}
						); 
						$$('.select_all').each(
							function(el) {
								el.checked = null;
							}
						);
					} 
			})
	});
	
</script>

</div><!-- /mediafiles -->