<p>
  <b>Filename:</b>
  <%=h @attachment.filename %>
</p>

<p>
  <b>File type:</b>
  <%=h @attachment.file_type %>
</p>

<p>
  <b>Filesize:</b>
  <%=h @attachment.filesize %>
</p>

<p>
  <b>Title:</b>
  <%=h @attachment.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @attachment.description %>
</p>

<p>
  <b>Width:</b>
  <%=h @attachment.width %>
</p>

<p>
  <b>Height:</b>
  <%=h @attachment.height %>
</p>

<p>
  <b>Length:</b>
  <%=h @attachment.length %>
</p>

<p>
  <b>Link alternate:</b>
  <%=h @attachment.link_alternate %>
</p>

<p>
  <b>Date:</b>
  <%=h @attachment.date %>
</p>

<p>
  <b>Account:</b>
  <%=h @attachment.account_id %>
</p>

<p>
  <b>Type:</b>
  <%=h @attachment.type %>
</p>


<%= link_to 'Edit', edit_attachment_path(@attachment) %> |
<%= link_to 'Back', attachments_path %>
