<div id="article_<%= @article.id %>" class="article">
	<p><a href="/stream"><-- Back to the stream</a></p>
	<h1><%= @article.title %></h1>
	<h2><%= @article.subtitle %></h2>
	<p class="date"><span  style="color: green"><%= @article.published_at.to_s(:standard)%> </span> (<%= time_ago_in_words(@article.published_at)%> ago)</p>
	<p style="font-weight: bold"><%= @article.authors_list %></p>
	<div id="article_checkout">
		<% unless @checkout %>
			To check out this article for editing
			<form method="POST" action="/checkouts">
				<div>
					<input type="hidden" name="checkout[original_article_id]" value="<%= @article.id %>" id="checkout_original_article_id" />
					<button type="submit">Click here</button>
				</div>
			</form>
		<% end %>
	</div>
	<%= markdown @article.bodytext %>
</div>