<div id="article_<%= @article.id %>" class="article">
	<p><a href="/stream"><-- Back to the stream</a></p>
	<h1><%= @article.title %></h1>
	<h2><%= @article.subtitle %></h2>
	<% unless @article.images.blank? %>
		<div class="media_thumbs">
			<h3>Attached media</h3>
			<% for image in @article.images %>
					<%= link_to_function "<img src=\"#{image.file.url(:system_thumb)}\" border=\"1\" />", "page_overlay.render( '<div class=\"small_top_button clearfix\"><a href=\"#\" class=\"close_window\" onclick=\"page_overlay.end();return false;\"> <img src=\"/images/window_x.png\" /> </a></div><img src=\"#{image.file.url(:large)}\" style=\"position:relative;z-index: 300;\" />' );" %>
			<% end %>
		</div>
	<% end %>
	<% if @checkout %>
		<div id="article_checkout" class="checked_out">
			<h4>Already checked out</h4>
			<p>To edit your copy of this article, <a href="/accounts/<%= @account.id %>/articles/<%= @checkout.duplicate_article.id %>/edit">click here</a></p>
			<p>If you checked this article out by mistake, just delete the draft created in <a href="/accounts/<%= @account.id %>/articles">your account</a>.</p>
		<% else %>
		<div id="article_checkout">
			<form method="POST" action="/stream/articles/<%= @article.id %>/checkout">
				<div>
					<input name="commit" onclick="if (!confirm('Are you sure you want to check out this article? Press \'OK\' to check this article into the CUPwire as a draft.')) return false; return true;" type="submit" value="Check out this article" />
				</div>
			</form>
			<p>If you want to edit and/or republish this article, just check it out. It'll be added to your account as a draft and any attached mediafiles will be copied into your archive.</p>
		<% end %>
	</div>
	<p><span  style="color: green"><%= @article.published_at.to_s(:standard)%> </span> (<%= time_ago_in_words(@article.published_at)%> ago)</p>
	<p class="account"><%= @article.account.formal_name == "" ? @article.account.name : @article.account.formal_name %></p>
	<p class="authors"><%= @article.authors_list %></p>
	<%= markdown @article.bodytext %>
	<p id="dash30">-30-</p>
</div>