<h1>New printing</h1>

<% form_for(@printing) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :article_id %><br />
    <%= f.text_field :article_id %>
  </p>
  <p>
    <%= f.label :issue_id %><br />
    <%= f.text_field :issue_id %>
  </p>
  <p>
    <%= f.label :page_number %><br />
    <%= f.text_field :page_number %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', printings_path %>
