<h1>Listing taggings</h1>

<table>
  <tr>
    <th>Content</th>
    <th>Content type</th>
    <th>Tag</th>
    <th>Account</th>
  </tr>

<% for tagging in @taggings %>
  <tr>
    <td><%=h tagging.content_id %></td>
    <td><%=h tagging.content_type %></td>
    <td><%=h tagging.tag_id %></td>
    <td><%=h tagging.account_id %></td>
    <td><%= link_to 'Show', tagging %></td>
    <td><%= link_to 'Edit', edit_tagging_path(tagging) %></td>
    <td><%= link_to 'Destroy', tagging, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New tagging', new_tagging_path %>
