<p>
  <b>Content:</b>
  <%=h @tagging.content_id %>
</p>

<p>
  <b>Content type:</b>
  <%=h @tagging.content_type %>
</p>

<p>
  <b>Tag:</b>
  <%=h @tagging.tag_id %>
</p>

<p>
  <b>Account:</b>
  <%=h @tagging.account_id %>
</p>


<%= link_to 'Edit', edit_tagging_path(@tagging) %> |
<%= link_to 'Back', taggings_path %>
