<p><a href="/accounts/<%= @account.id %>/mailouts"><-- Back to mailouts</a></p>
<h1>Mailout</h1>
<div id="details">
	<div id="sent" class="clearfix">
	<% if @campaign["emails_sent"].to_i > 0 %>
		<p>This mailout was <strong>sent</strong> on<br /><strong><%= Time.parse(@campaign['send_time']).to_s(:long) %></strong></p>
	<% else %>
		<div>
			<form action="/accounts/<%= @account.id %>/mailouts/<%= @campaign['id'] %>/send" method="post">
				This email <strong>has not yet been sent</strong><br />
				<input type="submit" value="Send" id="send_button" />
			</form>
		</div>
		<div>
			<h2>Send test email</h2>
			<form action="/accounts/<%= @account.id %>/mailouts/<%= @campaign['id'] %>/send_test" method="post">
					<label for="emails">Email address</label>
					<input id="emails" type="text" name="emails" />
					<input type="submit" value="Send test email" />
				<% if flash[:test_email_notice] %>
					<p id="test_email_notice"><%= flash[:test_email_notice] %></p>
				<% end %>
			</form>
		</div>
	<% end %>
	</div>
	<h2>Details</h2>
	<dl>
		<dt>From</dt>
		<dd><dl>
				<dt>Name</dt>
				<dd><%= @campaign['from_name'] %></dd>
				<dt>Email</dt>
				<dd><%= @campaign['from_email'] %></dt>
		</dl></dd>
		<dt>To</dt>
		<dd><%= @campaign['to_email'] %></dd>
		<dt>Subject</dt>
		<dd><%= @campaign['subject'] %></dd>
		<dt>List</dt>
		<dd><%= @list['name'] %></dd>		
	</dl>
</div>
<div id="previews">
	<h1>Previews</h1>
	<h2>HTML preview</h2>
	<iframe src="<%= @campaign['archive_url'] %>" id="html_preview">
	</iframe>

	<h2>Plain-text preview</h2>
	<div id="text_preview">
<pre>
<%= @content["text"] %>
</pre>
	</div>
</div>