<h1>Mailouts</h1>
<p>Mailouts are email blasts sent to all your publications's subscribers. You can include a selection of your most recent articles in each
	mailout, or send a themed mailout for a special occasion.</p>
<p>In order to send a mailout, you must have a <a href="http://mailchimp.com">Mailchimp</a> account.<p> 
<h3>Recent mailouts</h3><a href="/accounts/<%= @account.id %>/mailouts/new" class="button_link">Create a new mailout</a>
<ol id="mailouts">
	<% for campaign in @campaigns %>
		<li class="clearfix <%= cycle("even", "odd") %>">
			<h1><a href="/accounts/<%= @account.id %>/mailouts/<%=campaign["id"]%>"><%= campaign["title"] %></a></h1>
			<div class="delete transparent">
					<a href="/accounts/<%= @account.id %>/mailouts/<%=campaign["id"]%>" onclick="if (confirm('You are about to delete this mailout:\n\n Click \'OK\' to delete or \'Cancel\' to return to the page.')) { var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href;var m = document.createElement('input'); m.setAttribute('type', 'hidden'); m.setAttribute('name', '_method'); m.setAttribute('value', 'delete'); f.appendChild(m);f.submit(); };return false;">&nbsp;&nbsp;&nbsp;</a>
			</div>
			<p class="date">
			<% if campaign["emails_sent"] > 0 %>
				<%= Time.parse(campaign["send_time"]).to_s(:standard) %><small>(<%= time_ago_in_words(Time.parse(campaign["send_time"]))%> ago)</small></p>
			<% else %>
				Unsent
			<% end %>
			</p>
		</li>
	<% end %>
</ol>
