<p><a href="/accounts/<%= @account.id %>/mailouts"><-- Back to mailouts</a></p>
<h1>Mailout</h1>
<% if @campaign["emails_sent"].to_i > 0 %>
	<p>Sent on <%= @campaign["send_time"] %></p>
<% else %>
	<form action="/accounts/<%= @account.id %>/mailouts/<%= @campaign["id"] %>/send" method="post"><input type="submit" value="Send" /></form>
<% end %>
<div style="width:700px; padding: 10px; border: 1px solid #666;">
	<%= @content["html"] %>
</div>