<p><a href="/accounts/<%= @account.id %>/mailouts"><-- Back to mailouts</a></p>
<form action="/accounts/<%= @account.id %>/mailouts" method="POST">
  <fieldset>
	<legend>Create a new mailout</legend>
	<p>You can create a new mailout here. Don't worry, you'll get a chance to preview and test it before it's delivered.</p>
	<fieldset>
		<legend>From</legend>
		<ol>
			<li><label>Name: <input type="text" name="mailout[name]" id="mailout_name" value="Canadian University Press" /></label></li>
			<li><label>Email: <input type="text" name="mailout[from_email]" id="mailout_from_email" value="national@cup.ca" /></label></li>
		</ol>
	</fieldset>
	<ol>
		<li><label>Subject: <input type="text" name="mailout[subject]" id="mailout_subject" value="CUP Newswire top stories for <%= Time.now.to_s(:simple) %>" /></label></li>
		<li><label>To: <input type="text" name="mailout[to_email]" id="mailout_to_email" value="national@cup.ca" /></label></li>
		<li>
			<label for="mailout_template_id">Email template</label>
			<select name="mailout[template_id]" id="mailout_template_id">
			<% @email_templates.each do |template| %>
				<option value="<%= template.id %>"><%= template.name %></option>
			<% end %>
			</select>
		</li>
		<li class="clearfix">
			<label for="mailout_list_id">Send to which list?</label>
			<select name="mailout[list_id]" id="mailout_list_id">
			<% @lists.each do |list| %>
				<option value="<%= list['id'] %>"><%= list['name'] %></option>
			<% end %>
			</select>
		</li>
		<li>
			<label for="mailout_note">Mailout note</label><br />
			<textarea name="mailout[note]" id="mailout_note"></textarea>
		</li>
		<li>
				<input type="submit" value="Create new mailout" onclick ="if (confirm('Are you sure you want to creat this mailout including only the articles you selected?\n\nIf you change your mind you\'ll have to delete this mailout and recreate it.\n\nPress \'OK\' to create the mailout or \'Cancel\' to continue working on it.')) {return true}; return false;" />
		</li>
	</ol>
  </fieldset>
<fieldset>
	<legend>Add articles to this mailout</legend>
	<p>Add as many article slots as you'd like and simply drag the article you want from the list on the right to the desired slot on the left.</p>
	<div id="mailout_articles">
		<h2>Mailout articles</h2>
		<ol class="clearfix">
		  <li>
			<input name="mailout[articles][]" type="hidden" />
			<a class="empty_link" href="#" onclick="empty_article_slot($(this).up()); return false;">x</a>	
			<div class="clearfix">
				<p>Nothing in this position</p>
			</div>
		  </li>
		</ol>
		<ul>
			<li><a class="button_link" href="#" onclick="add_article_slot($('mailout_articles').down().next()); return false;">Add article slot</a></li>
			<li><a class="button_link" href="#" onclick="remove_article_slot($('mailout_articles').down().next()); return false;">Remove article slot</a></li>
		</ul>
	</div>

	<div id="articles_wrapper">
		<%= erb :articles, :layout => :false %>
	</div>
	</form>
</fieldset>

<script type="text/javascript" charset="utf-8">

	// Insert additional mailout article slot
	add_article_slot = function(container) {
	  new_element = Builder.node('li', [ 
				Builder.node('input', {name:'mailout[articles][]', type:'hidden'}),
				Builder.node('a', {className:'empty_link', href:'#', onclick:'empty_article_slot($(this).up()); return false;'}, 'x'),
				Builder.node('div', {className: 'clearfix'}, Builder.node('p', 'Nothing in this position'))
	  ])
	  container.insert(new_element);
	  build_article_slot_droppable(new_element);
	}
	// Remove last mailout article slot
	remove_article_slot = function(container) {
		$(container).select("li:last-child")[0].remove();
	}
	
	// Build a scriptaculous droppable
	build_article_slot_droppable = function(article_slot) {
			Droppables.add(article_slot, { onDrop: function( new_article, spec_holder ){
				 	var new_article_id = new_article.up().id.split('_').pop();
					var spec_holder_id = spec_holder.id.split('_').pop();
					spec_holder.down().value = new_article_id;
					spec_holder.down().next().next().innerHTML = new_article.innerHTML;
					//alert('Dropped \n\n' + new_article_id + "\n\non\n\n" + spec_holder_id ); 
			}});
	}
	
	
	empty_article_slot = function( article_slot ) {
		article_slot.down().value = "";
		article_slot.down().next().next().remove();
		article_slot.insert( Builder.node('div', {className: 'clearfix'}, Builder.node('p', 'Nothing in this position')) );
	}
	
	$('mailout_articles').select("li").each(function(element){ build_article_slot_droppable(element)});
	
</script>