<div id="image_form">
<% if @article %>
	<% form_for [@account, @article, @image], :html=>{:multipart=>true, :target=>"upload_frame", :onsubmit => "article_form_overlay.end();$('account_article_mediafiles_list').childElements()[0].innerHTML='<img src=\"/loading.gif\" />';"} do |f| %>
	 <%= f.error_messages %>
	  <% unless @image.new_record? %>
		<p>
			<%= image_tag(@image.file.url)%>
	  	</p>
	  <% end %>
	  <p>
		<%= f.file_field :file %>
	    <%= f.submit "Update" %>
	  </p>
	<% end %>
<% else %>
	<% form_for [@account, @image], :html=>{:multipart=>true} do |f| %>
	 <%= f.error_messages %>
	  <% unless @image.new_record? %>
		<p>
			<%= image_tag(@image.file.url)%>
	  	</p>
	  <% end %>
	  <p>
		<%= f.file_field :file %>
	    <%= f.submit "Update" %>
	  </p>
	<% end %>
<% end %>
 
</div>