<div id="navigation" class="clearfix">
	<div class="container_12" class="clearfix">
		<div id="logo" class="grid_2 alpha"><%= image_tag '/images/logo_tiny.png' %></div>
		
		<div id="user_details"><p>Logged in as: <%= link_to current_user.login, edit_user_path(current_user, :format => :html), :class=>"weblink", :id => "edit_current_user_link" %>  <%= button_link_to "Logout", logout_url, :method=>:get, :class=>"micro", :id=>"user_logout_button" %></p></div>
	
		<ol id="links" class="grid_12">
			<li <%= 'class="current"' if controller_name == "dashboards" %>><%= link_to "Dashboard", account_dashboard_url(@account) %></li>
			<li <%= 'class="current"' if controller_name == "articles" %>><%= link_to "Articles", account_articles_url(@account) %></li>
			<li <%= 'class="current"' if (controller_name == "blogs") || (controller_name == "entries") %>><%= link_to "Blogs", account_blogs_url(@account) %></li>
			<li <%= 'class="current"' if controller_name == "lists" %>><%= link_to "Lists", account_lists_url(@account) %></li>
			<li <%= 'class="current"' if controller_name == "mediafiles" %>><%= link_to "Media", account_mediafiles_url(@account) %></li>
			<li <%= 'class="current"' if controller_name == "issues" %>><%= link_to "Issues", account_issues_url(@account) %></li>
			<li <%= 'class="current"' if (controller_name=="pages") %>><%= link_to "Pages",account_pages_url(@account) %></li>
			
			<% if @account.network_owner? %><li style="float:right;" <%= 'class="current"' if (controller_name=="networks") %>><%= link_to "Network",account_network_url(@account) %></li><% end %>
			<li style="float:right;" <%= 'class="current"' if (controller_name=="designs"||controller_name=="templates"||controller_name=="template_files") %>><%= link_to "Design", current_design_url(@account) %></li>
		</ol>
		
		<% if permit?("(manager of account)") || permit?("admin") %>
			<div id="account_details">
				<img src="/loading_small_222.gif" style="float:left;margin-right:0.5em;margin-top:0.25em;display:none;" class="spinner"/>
				<%= button_link_to "Manage account", edit_account_url(@account), :class=>"tiny modal" %> 
			</div>
		<% end %>
		<div id="flash"><%= render_flash(flash[:notice])%></div>
		
	</div>
</div>