<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Articles: <%= controller.action_name %></title>
  
  <%= stylesheet_link_tag 'hotink' %>
  <%= unobtrusive_datepicker_includes %>
  
  <%= javascript_include_tag 'builder' %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'sortable_tree' %>
  <%= javascript_include_tag 'autocompleter_localtokenizer' %>
  <%= javascript_include_tag 'overlay.js' %>


</head>
<body>
<div id="navigation">
	<span id="links"><%= link_to "Articles", account_articles_url(@account) %> | <%= link_to "Media", account_mediafiles_url(@account) %> </span>
	<span id="user_details"> | Logged in as: <%= link_to current_user.login, edit_user_path(current_user) %></span><%= button_link_to "Logout", user_session_url, :method=>:delete, :class=>"micro" %>
</div>
<div id="page_container" class="clearfix">
	<%= yield  %>
</div>
<script type="text/javascript" charset="utf-8">
	//This is a quick hack to fix button display in firefox
	load_button_fix();
</script>
</body>
</html>
