<div id="account_form_top_links"><%= link_to "&#171; Back to accounts list", accounts_url, :class=>"weblink" %></div>
<div id="account_form">
	<% form_for(@account) do |f| %>
	  <%= f.error_messages %>
	    <%= button_link_to_submit @account.new_record? ? "Create account" : "Update account details", :class=>"large save pill-l" %>
	  <p>
	    <%= f.label :name, "Account name" %><br />
	    <%= f.text_field :name, :class =>"text_input account_name" %>
	  </p>
	  <p>
	    <%= f.label :time_zone, "Account preferred time zone" %><br />
	    <%= f.time_zone_select :time_zone, /Canada|Newfoundland|Saskatchewan/, :default => "Eastern Time (US & Canada)"  %>
	  </p>
	  <p>
		<%= f.label :settings, "Settings" %><br />
		<%= f.text_area :settings, :class =>"text_input"  %>
	  </p>
	<% end %>
	<script type="text/javascript" charset="utf-8">
		load_button_fix();
	</script>
</div>