<div class="small_top_button clearfix"><a href="#" class="close_window" onclick="page_overlay.end();return false;"> <img src="/images/window_x.png" /> </a></div>
<div id="account" class="clearfix">
	<div id="account_settings" class="tab_window clearfix">
		<ol id="tablist" class="left">
			<li class="selected">General</li>
			<li>Users</li>
			<li>Images</li>
			<li>Categories</li> 
			<% if permit? "admin" %>
				<li>Accounts</li>
			<% end %>
		</ol>
		<div id="general-window" class="account_settings">
		<% form_for(@account) do |f| %>
		<%= button_link_to_submit "Save changes", :class=>"save large" %>
			<h2>General settings</h2>
	  		<%= f.error_messages %>
			<fieldset>
		  		<div class="column_holder clearfix">
					<div class="quarter_column left_column">
						<%= f.label :name, "Account" %>
					</div>
					<div class="two_thirds_column right_column">
						<%= f.text_field :name, :class =>"text_input account_name", :disabled => true %>
						<small>This is your account's name. You can't change it. You may need it for installing extensions or for API applications.</small>
					</div>
				</div>
			  	<div class="column_holder clearfix">
					<div class="quarter_column left_column">
						<%= f.label :formal_name, "Formal name" %>
					</div>
					<div class="two_thirds_column right_column">
						<%= f.text_field :formal_name, :class =>"text_input formal_name" %>
						<small>This is what you'd like your publication to be called, what's in your nameplate (i.e. <cite>the Manitoban</cite> or <cite>Excalibur</cite> ).</small>
					</div>
				</div>
			  	<div class="column_holder clearfix">
					<div class="quarter_column left_column">
					    <%= f.label :time_zone, "Time zone" %>
					</div>
					<div class="three_quarters_column right_column">
					    <%= f.time_zone_select :time_zone, /Canada|Newfoundland|Saskatchewan/, :include_blank => true  %>
						<small> </small>
					</div>
				</div>
			</fieldset>
			
			<% end %>	
		</div>
		
		<div id="users-window" class="index" style="display:none">
			<%= render :partial => "users_window" %>
		</div>
		
		<div id="images-window" style="display:none">
			<% form_tag account_url(@account), :method=>:put do %>
			<%= button_link_to_submit "Save changes", :class=>"save large" %>
			<h2>Images</h2>
			<fieldset>
				<p>Images are archived in their <strong>original size and format</strong>. It's important to upload <strong>high resolution</strong>
				 images so that the materials in the archive age well. To make those images a little more reader friendly, they're also made available 
				 in these <strong>standard sizes</strong>, which you can adjust below. Remember, changing these sizes will only affect newly uploaded images.
				 Older images will remain in their current size.</p>
				<div class="column_holder clearfix">
					<div class="third_column"></div>
					<div class="third_column">No wider than</div>
					<div class="third_column">No taller than</div>
					<div class="third_column"><label>Thumbnail</label></div>
					<div class="third_column"><%= text_field_tag "account[image_settings][thumb][width]", geometry_string_width(@account.settings["image"]["thumb"][0]) , :class=>"text_input", :maxlength => "4" %> px</div>
					<div class="third_column"><%= text_field_tag "account[image_settings][thumb][height]", geometry_string_height(@account.settings["image"]["thumb"][0]), :class=>"text_input", :maxlength => "4" %> px</div>
					<div class="third_column"><label>Small</label></div>
					<div class="third_column"><%= text_field_tag "account[image_settings][small][width]", geometry_string_width(@account.settings["image"]["small"][0]), :class=>"text_input", :maxlength => "4" %> px</div>
					<div class="third_column"><%= text_field_tag "account[image_settings][small][height]", geometry_string_height(@account.settings["image"]["small"][0]), :class=>"text_input", :maxlength => "4" %> px</div>
					<div class="third_column"><label>Medium</label></div>					
					<div class="third_column"><%= text_field_tag "account[image_settings][medium][width]", geometry_string_width(@account.settings["image"]["medium"][0]), :class=>"text_input", :maxlength => "4" %> px</div>
					<div class="third_column"><%= text_field_tag "account[image_settings][medium][height]", geometry_string_height(@account.settings["image"]["medium"][0]), :class=>"text_input", :maxlength => "4" %> px</div>
					<div class="third_column"><label>Large</label></div>
					<div class="third_column"><%= text_field_tag "account[image_settings][large][width]", geometry_string_width(@account.settings["image"]["large"][0]), :class=>"text_input", :maxlength => "4" %> px</div>
					<div class="third_column"><%= text_field_tag "account[image_settings][large][height]", geometry_string_height(@account.settings["image"]["large"][0]), :class=>"text_input", :maxlength => "4" %> px</div>
				</div>
			</fieldset>
		    <% end %>
		</div>
		
		<div id="categories-window" class="index" style="display:none;">
			<%= render :partial => 'categories_window' 	%>
		</div>
		<% if permit? "admin" %>
		<div id="accounts-window" class="index" style="display:none">
			<%= render :partial => 'accounts_window' %>
		</div>
		<% end %>
		
	</div>
	<script type="text/javascript" charset="utf-8">
		load_button_fix();
		$('account_settings').select('ol#tablist li').each( function(el){ new Tab( el, el.hasClassName('selected') ) });
	</script>
</div>