<div id="account" class="clearfix">
	<p class="close_button"><a href="#" class="close_window" onclick="page_overlay.end();return false;">&nbsp;</a></p>
	<h1>Account settings</h1>
		
	<div id="account_settings" class="tab_window clearfix">
		<ol class="left">
			<li class="selected">General</li>
			<li>Access</li>
			<li>Images</li>
			<% if permit? "admin" %>
			<li>Accounts</li>
			<% end %>
		</ol>
		<div id="general-window">
		<% form_for(@account) do |f| %>
		<%= button_link_to_submit @account.new_record? ? "Create your account" : "Save changes", :class=>"save large" %>
			<h2>General settings</h2>
	  		<%= f.error_messages %>
			  <div>
			    <%= f.label :name, "Account" %>
				<%= f.text_field :name, :class =>"text_input account_name", :disabled => true %>
			  </div>
			  <div>
				<%= f.label :formal_name, "Formal name" %>
				<%= f.text_field :formal_name, :class =>"text_input formal_name" %>
			  </div>
			  <div>
			    <%= f.label :time_zone, "Time zone" %>
			    <%= f.time_zone_select :time_zone, /Canada|Newfoundland|Saskatchewan/, :include_blank => true  %>
			  </div>
			<% end %>	
		</div>
		<div id="access-window" style="display:none">
			<h2>Access management</h2>
			<%= button_link_to("Users", "#", :class=>"pill-l selected", :onclick=>"return false;") + button_link_to("Roles", "#", :class=>"pill-c", :onclick=>"return false;") + button_link_to("Permissions", "#", :class=>"pill-r", :onclick=>"return false;") %>
			<div id="users-window">
				<h2>Users</h2>
			</div>
			<div id="roles-window" style="display:none;">
				<h2>Roles</h2>
			</div>
			<div id="permissions-window" style="display:none;">
				<h2>Permissions</h2>
			</div>
		</div>
		<div id="images-window" style="display:none">
			<h2>Image settings</h2>
		</div>
		<div id="accounts-window" style="display:none">
			<h2>Accounts</h2>
			<%= render :partial => 'account_activations/new_activation_form' %>
		</div>
	</div>
	<script type="text/javascript" charset="utf-8">
		load_button_fix();
		$('account_settings').select('ol li').each( function(el){ new Tab( el, el.hasClassName('selected') ) });
		$('access-window').select('a.btn').each( function(el){ new Tab( el, el.hasClassName('selected'), el.down().down().innerHTML.toLowerCase() + '-window' ) } )
	</script>
</div>