<h2>Categories</h2>

<ol id="categories">
	<%= render :partial=>'categories/category', :collection => @account.main_categories %>
</ol>

<div id="new_category_form">
	<% form_tag categories_url, :method => :post, 'data-remote' => true do %>
	<fieldset>
		<legend>New category</legend>
		<div class="column_holder clearfix">	
			<div class="two_thirds_column">
				<%= text_field_tag 'category[name]', nil, :class => :text_input %>
				<small></small>
			</div>

		</div>
		<div class="column_holder clearfix">	
			<div class="two_thirds_column">
				<select id="category_parent_id" name="category[parent_id]"><%= options_for_parent_category_select(@account.categories, :parent) %></select><br />
				<small><%= flash[:categories_notice]%></small>
			</div>
			<div class="third_column">
				<%= button_link_to_submit "Create category", :class=>"large save"%>
			</div>
		</div>
	</fieldset>
	<% end %>
</div>